@import url("/aemedge/libs/card/card.css");
@import url("/aemedge/libs/pages/pages.css");


.list-external {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--udexSpacer16) var(--udexSpacer48);

  & .pages {
    grid-column: 1 / -1;

    /* grid gap + margin = 24px */
    margin-block-start: var(--udexSpacer8);

    @media (width >= 980px) {
      /* grid gap + margin = 32px */
      margin-block-start: var(--udexSpacer16);
    }
  }

  & > div {
    & p {
      margin: 0;
      padding: 0;
    }

    /* Headline */
    & > div:nth-child(1) {
      /* Headline (in `p`) */
      & p {
        font-size: var(--udexTypographyHeadingMediumXXSFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--udexTypographyHeadingLineHeight);
      }
    }

    /* Link + Icon (`.button-container`) */
    & > div:nth-child(2) {
      border-bottom: 1px solid var(--udexColorGrey3);
      margin-top: var(--udexSpacer16);
      padding-block: 6px 22px;
    }

    &:is(:nth-last-child(1)) > div:nth-child(2) {
      border-bottom: none;
    }
  }

  &:has(.pages) > div:is(:nth-last-child(2)) > div:nth-child(2) {
    border-bottom: none;
  }

  @media (width >= 980px) {
    & > div:is(:nth-last-child(1), :nth-last-child(2)) > div:nth-child(2),
    &:has(.pages) > div:is(:nth-last-child(2), :nth-last-child(3)) > div:nth-child(2) {
      border-bottom: none;
    }
  }
}

@media (width >= 980px) {
  :where(body:not(.hub-l2:has(aside))) .list-external {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >= 1280px) {
  :where(body.hub-l2:has(aside)) .list-external {
    grid-template-columns: repeat(9, minmax(0, 1fr));

    & .card {
      grid-column: span 4;
    }
  }
}

.list-external-wrapper {
  margin-block: var(--udexSpacer32);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  @media (width >= 980px) {
    margin-block: var(--udexSpacer40);
  }
}