.design-system-hero-wrapper {
  grid-column: 1 / 13 !important;
  margin-inline: unset !important;
  width: 100%;
}

.fiori-hero-banner {
  align-items: center;
  display: grid;
  column-gap: var(--udexGridXSGutters);
  grid-template-columns: repeat(var(--udexGridColumns), 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 152px;
  position: relative;

  div[slot="content"],
  div[slot="additionalContent"] {
    color: white;
    grid-column: span 12;
    padding: 0 var(--udexSpacer24);
    z-index: var(--udexHeroBannerContentZIndex, 2);
  }

  div[slot="content"] {
    grid-row: 3 / 4;

    & > h1 {
      font-size: var(--udexTypographyHeadingRegularSFontSize);
      margin-top: 16px;
      margin-bottom: 40px;
      font-weight: 500;

      .hero-sub-heading {
        margin: 4px 0;
        font-size: var(--udexTypographyBodySFontSize);
        font-weight: 400;
        line-height: 24px;
        margin-top: 12px;
      }
    }

    .tags-container {
      display: none;

      .tag {
        font-size: var(--udexTypographyBodyXXSFontSize);
        margin-right: 4px;
        background-color: white;
        color: var(--sapShell_TextColor);
        padding: 4px 8px;
        border-radius: 6px;
      }
    }
  }

  picture[slot="backgroundPicture"] {
    grid-column: 1 / 13;
    height: 100%;
    position: absolute;
    width: 100vw;

    & > img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  div[slot="additionalContent"] {
    grid-row: 2 / 3;

    & > span {
      font-size: var(--udexTypographyBodyXXSFontSize);
    }

    .breadcrumb {
      position: relative;

      a,
      span {
        font-size: var(--udexTypographyBodyXXSFontSize);

        &.item {
          text-decoration: none;
          padding: 10px 0;
          margin: 0 4px;
          color: var(--sapShell_Category_14_TextColor);

          &:first-child {
            margin-left: 0;
          }

          &:not(:last-child) {
            color: var(--sapShell_Category_15_Background);
          }

          &:hover {
            cursor: pointer;
            text-decoration: underline;
            color: var(--sapShell_Navigation_Active_Background);
          }

          &:focus {
            outline: 2px solid var(--sapLink_Visited_Color);
            border-radius: 1px;
            outline-offset: 4px;
          }
        }
      }

      .last-updated-version {
        position: absolute;
        right: 0;

        .dropdown {
          position: relative;
          min-width: 68px;

          .dropdown-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            height: 30px;
            width: 100%;
            padding-block: unset;
            padding-inline: unset;
            padding: 5px 10px;
            border: 1px solid var(--udexColorGrey7);
            border-radius: 8px;
            background-color: white;
            color: var(--udexColorBlue9);
            cursor: pointer;
            text-align: left;
            font-size: var(--udexTypographyBodyXSFontSize);
            font-weight: 500;

            &:hover {
              background-color: var(--udexColorGrey2);
            }

            &:active {
              background-color: #fff;
              border: 1px solid var(--udexColorBlue9);
            }

            &:disabled {
              background-color: #fff;
              border: 1px solid var(--udexColorGrey7);
              opacity: 0.4;
            }

            .s-view {
              display: inline-block;
              font-size: var(--udexTypographyBodyXSFontSize);
              font-family: var(--sapFontFamily);
              font-weight: 500;

            }

            .lg-view {
              display: none;
              font-size: var(--udexTypographyBodyXSFontSize);
              font-weight: 500;
              font-family: var(--sapFontFamily);
            }

            .icon {
              width: 12px;
              height: 12px;

              img {
                transform: rotate(90deg);
              }
            }
          }

          .dropdown-options {
            width: 100%;
            min-width: 200px;
            max-width: 640px;
            background-color: white;
            border: 1px solid var(--udexColorGrey6);
            border-radius: 8px;
            position: absolute;
            top: 30px;
            right: 0;
            display: none;

            ul {
              list-style-type: none;
              padding: 0;

              li a:any-link {
                display: block;
                text-decoration: none;
                color: var(--udexColorNeutralBlack);
                padding: 4px 8px;
                cursor: pointer;
                font-size: var(--udexTypographyBodySFontSize);
                width: 100%;

                &:hover {
                  background-color: var(--udexColorGrey1);

                }

                &:active {
                  background-color: var(--udexColorGrey2);
                }

                &:first-child {
                  border-top-left-radius: 8px;
                  border-top-right-radius: 8px;
                }

                &:last-child {
                  border-bottom-left-radius: 8px;
                  border-bottom-right-radius: 8px;
                }
              }
            }
          }

          &.open {
            .dropdown-btn {
              .icon {
                img {
                  transform: rotate(90deg);
                }
              }
            }

            .dropdown-options {
              display: block;
              height: fit-content;
              max-height: 280px;
              overflow: scroll;
            }
          }
        }
      }
    }
  }
}

/* =XS */
@media (width < 640px) {
  .fiori-hero-banner {
    div[slot="additionalContent"] {
      .breadcrumb {
        .last-updated-version {
          top: 0;
        }
      }
    }
  }
}

/* =S */
@media (width >= 640px) {
  .fiori-hero-banner {
    column-gap: var(--udexGridSGutters);

    div[slot="content"],
    div[slot="additionalContent"] {
      padding: 0 var(--udexSpacer48);

      & > h1 {
        font-size: var(--udexTypographyHeadingRegularMFontSize);
      }

      .tags-container {
        display: block;
      }

      .dropdown {
        min-width: 109px;
      }
    }
  }
}

/* =M */
@media (width >= 980px) {
  .design-system-hero-container:not(> .landing-page-style-wrapper) {
    margin-left: calc((128px) * -1) !important;
  }

  .fiori-hero-banner {
    column-gap: var(--udexGridMGutters);
    height: 192px;

    div[slot="content"],
    div[slot="additionalContent"] {
      grid-column: 1 / 13; /* Adjusting value as hero text not properly align */
      padding: 0 var(--udexSpacer72) 0 128px;
    }

    div[slot="content"] > h1 {
      font-size: var(--udexTypographyHeadingRegularLFontSize);
    }

    div[slot="additionalContent"] {
      & .breadcrumb {
        & .last-updated-version {
          & .dropdown {
            & .dropdown-btn {
              .lg-view {
                display: inline-block;
              }

              .s-view {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

/* =L */
@media (width >= 1280px) {
  .fiori-hero-banner {
    div[slot="content"],
    div[slot="additionalContent"] {
      grid-column: 1/13;
      padding: 0 var(--udexSpacer72) 0 128px;
    }

    div[slot="content"] > h1 {
      font-size: var(--udexTypographyHeadingRegularXLFontSize);
    }
  }
}

/* =XL */
@media (width >= 1600px) {
  .design-system-hero-container:not(> .landing-page-style-wrapper) {
    margin-left: calc(var(--udexGridMargins) * -1) !important;
  }

  .fiori-hero-banner {
    picture[slot="backgroundPicture"] {
      left: calc(-1 * (100vw - 1600px) / 2);
    }

    div[slot="content"] > h1 {
      font-size: var(--udexTypographyHeadingRegularXXLFontSize);
    }

    div[slot="content"],
    div[slot="additionalContent"] {
      padding: 0 var(--udexSpacer84);
    }
  }
}

.design-system-hero-container:has(> .home-page-style-wrapper) {
  @media (width >= 980px) {
    margin-inline: -128px var(--udexGridMargins) !important;
  }

  @media (width >= 1600px) {
    margin-inline: calc(var(--udexGridMargins) * -1) !important;
  }
}

/**
 * =HERO Home Page
 */
.design-system-hero-home-page-wrapper {
  & div[slot="content"] {
    grid-row: 2 / 3;

    @media (width >= 980px) {
      grid-column: 1 / 11 !important;
      grid-row: 3 / 4;
      padding: 0 128px !important;
    }

    @media (width >= 1600px) {
      grid-column: 2 / 9 !important;
      padding: 72px !important;
    }
  }

  & .fiori-hero-banner {
    max-height: 450px;
    height: 100%;

    picture[slot="backgroundPicture"] {
      left: unset;
    }

    & div[slot="content"] {
      grid-row: 2 / 3;

      @media (width >= 980px) {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
        padding: 0 var(--udexSpacer72);
      }

      @media (width >= 1600px) {
        grid-column: 2 / 12;
      }
    }

    & div[slot="additionalContent"] {
      grid-row: 1 / 2;

      @media (width >= 980px) {
        grid-row: 2 / 3;
      }
    }
  }
}

/**
 * =HERO Landing Page
 */
.design-system-hero-landing-page-wrapper {
  & .fiori-hero-banner {
    max-height: 450px;
    height: 100%;

    & div[slot="content"] {
      grid-row: 2 / 3;
    }

    & div[slot="additionalContent"] {
      grid-row: 1 / 2;
    }
  }
}

/* =M */
@media (width >= 980px) {
  .design-system-hero-landing-page-wrapper {
    & .fiori-hero-banner {
      & div[slot="content"] {
        grid-column: 1 / 7;
        grid-row: 3 / 4;
        padding: 0 var(--udexSpacer72);
      }

      & div[slot="additionalContent"] {
        grid-row: 2 / 3;
      }
    }
  }
}

/* =XL */
@media (width >= 1600px) {
  .design-system-hero-landing-page-wrapper {
    & .fiori-hero-banner {
      & div[slot="content"] {
        grid-column: 2 / 12;
        margin-left: calc(var(--udexGridMGutters) * -1);
        padding: 0 !important;
      }
    }
  }
}
