.design-system-hero-wrapper {
  grid-column: 1 / 13 !important;
  margin-inline: unset !important;
  width: 100%;
}

.fiori-hero-banner {
  align-items: center;
  display: grid;
  column-gap: var(--udexGridXSGutters);
  grid-template-columns: repeat(var(--udexGridColumns), 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 192px;
  position: relative;

  div[slot="content"],
  div[slot="additionalContent"] {
    color: white;
    grid-column: span 12;
    padding: 0 var(--udexSpacer24);
    z-index: var(--udexHeroBannerContentZIndex, 2);
  }

  div[slot="content"] {
    grid-row: 3 / 4;

    & > h1 {
      font-size: var(--udexTypographyHeadingRegularSFontSize);
      margin-top: 15px;
    }
  }

  div[slot="additionalContent"] {
    grid-row: 2 / 3;

    & > span {
      font-size: var(--udexTypographyBodyXXSFontSize);
    }
  }

  picture[slot="backgroundPicture"] {
    grid-column: 1 / 13;
    height: 100%;
    position: absolute;
    width: 100vw;

    & > img {
      height: 192px;
      object-fit: cover;
      width: 100%;
    }
  }
}

/* S */
@media (width >= 640px) {
  .fiori-hero-banner {
    column-gap: var(--udexGridSGutters);

    div[slot="content"],
    div[slot="additionalContent"] {
      padding: 0 var(--udexSpacer48);
    }
  }
}

/* M */
@media (width >= 980px) {
  .fiori-hero-banner {
    column-gap: var(--udexGridMGutters);

    div[slot="content"],
    div[slot="additionalContent"] {
      grid-column: 2 / 13;
      padding: 0 var(--udexSpacer64);
    }

    div[slot="content"] > h1 {
      font-size: var(--udexTypographyHeadingRegularMFontSize);
    }
  }
}

/* L */
@media (width >= 1280px) {
  .fiori-hero-banner {
    div[slot="content"],
    div[slot="additionalContent"] {
      padding: 0 var(--udexSpacer64);
    }

    div[slot="content"] > h1 {
      font-size: var(--udexTypographyHeadingRegularXLFontSize);
    }
  }
}

/* XL */
@media (width >= 1600px) {
  .fiori-hero-banner {
    picture[slot="backgroundPicture"] {
      left: calc(-1 * (100vw - 1600px)/2);
    }

    div[slot="content"],
    div[slot="additionalContent"] {
      padding: 0 var(--udexSpacer72);
    }
  }
}
