.footnote {
  color: var(--udexColorGrey7);
  font-size: var(--udexTypographyBodyXSFontSize);
  padding-top: 10px;
  border-top: 1px solid var(--udexColorGrey3);
}

.footnote>div>div:last-of-type {
  margin-top: var(--udexSpacer16);
}

.footnote p:first-of-type {
  margin-top: 0;
}

.footnote p:last-of-type {
  margin-bottom: 0;
}

.footnote-wrapper {
  margin-block: var(--udexSpacer40);

  &:first-child {
    margin-block: 0;
  }

  &:last-child {
    margin-block: 0;
  }

  @media (width >= 980px) {
    margin-block: var(--udexSpacer48);
  }

  @media (width >= 1280px) {
    margin-block: var(--udexSpacer56);
  }
}