.page-tabs {
  height: 40px;
  margin-top: var(--udexSpacer32);

  & ul {
    border-bottom: 1px solid var(--sapShell_Category_15_BorderColor);
    display: flex;
    gap: 32px;
    height: 100%;
  }

  & li {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    text-align: center;

    & a {
      border: 0 none;
      color: var(--sapTextColor);
      display: block;
      font-size: var(--udexTypographyNavigationRegularXLFontSize);
      font-weight: var(--udexTypographyFontWeightBold);
      line-height: var(--udexTypographyNavigationLineHeight);
      margin: 0;
      padding: var(--udexSpacer12) var(--udexSpacer4) var(--udexSpacer16);
      text-decoration: none;

      &:hover {
        color: var(--udexColorBlue7);
      }
    }

    &[aria-selected="true"] a {
      color: var(--udexColorBlue7);

      &::after {
        background: var(--udexColorBlue7);
        border-top-left-radius: var(--udexRadiusXXS);
        border-top-right-radius: var(--udexRadiusXXS);
        bottom: 0;
        content: "";
        height: 3px;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }
  }
}

main {
  & .page-tabs {
    & ul {
      margin: 0;
      padding: 0;
    }
  }
}

.web-component {
  main {
    & .section {
      &:first-child {
        & > .page-tabs-wrapper {
          grid-column: 1 / 13;
        }
      }
    }
  }
}

/* =M */
@media (width >= 980px) {
  .web-component {
    main {
      & .section {
        &:first-child {
          & > .page-tabs-wrapper {
            grid-column: 2 / 13;
          }
        }
      }
    }
  }

  .page-tabs {
    margin-right: calc(var(--udexGridMargins));
  }
}

/* =L */
@media (width >= 1280px) {
  .web-component {
    main {
      & .section {
        &:first-child {
          & > .page-tabs-wrapper {
            grid-column: 2 / 11;
          }
        }
      }
    }
  }

  .page-tabs {
    margin-right: unset;
  }
}
