.quote {
    --quote-content-font-size: var(--udexTypographyBodyXLFontSize);

    color: var(--udexColorGrey8);
    display: grid;
    grid-template: "avatar" min-content "qt" min-content "qs" min-content "link" min-content / 1fr;
}

.quote > div {
    display: flex;
    justify-content: flex-start;
}

.quote .content {
    flex-basis: 100%;
}

.quote .content p {
    margin: 0;
}

.quote .qt {
    grid-area: qt;
}

.quote .qs {
    grid-area: qs;
}

.quote .qt:not(:last-child),
.quote .qs:not(:last-child) {
    margin-bottom: var(--udexSpacer24);
}

.quote .quote-link {
    grid-area: link;
}

.quote .avatar {
    justify-self: center;
    margin-right: var(--udexSpacer24);
    margin-bottom: var(--udexSpacer20);
    grid-area: avatar;
    border: 0;

    &:hover {
        border: 0;
    }
}

.quote .qt .content {
    font-size: var(--quote-content-font-size);
    flex-flow: column;
}

.quote .qs .content {
    font-size: var(--udexTypographyHeadingRegularXXSFontSize);
    line-height: var(--udexTypographyHeadingLineHeight);
}

.quote .qt::before,
.quote .qt::after {
    align-self: flex-start;
    font-size: var(--udexTypographyDisplayRegularLFontSize);
    height: calc(var(--udexTypographyBodyLineHeight) * var(--quote-content-font-size)); /* Cap height to line height of quote body */
    justify-content: center;
    line-height: var(--udexTypographyDisplayRegularLFontSize);
    position: relative;
    top: -8px;
}

.quote .qt::before {
    content: '“';
    padding-right: 16px;
}

.quote .qt::after {
    content: '”';
    padding-left: 16px;
}

.quote .quote-link,
.quote .qs .content {
    margin-left: 46px;
    margin-right: 46px;
}

.quote.small {
    --quote-content-font-size: var(--udexTypographyBodySFontSize);
}

.quote.small .qt::before,
.quote.small .qt::after {
    font-size: var(--udexTypographyDisplayRegularMFontSize);
    line-height: var(--udexTypographyDisplayRegularMFontSize);
}

.quote.small .qt::before {
    padding-right: 8px;
}

.quote.small .qt::after {
    padding-left: 8px;
}

.quote.small .quote-link,
.quote.small .qs .content {
    margin-left: 36px;
    margin-right: 36px;
}

.quote.small .qs .content {
    font-size: var(--udexTypographyNavigationRegularMFontSize);
}

.quote.small .avatar {
    margin-right: var(--udexSpacer16);
}

@media (width >= 640px) {
    .quote {
        grid-template: "avatar qt" min-content "avatar qs" min-content "avatar link" min-content / min-content 1fr;

        &.avatar-right {
            grid-template-columns: 1fr min-content;
            grid-template-areas:
            "qt avatar"
            "qs avatar"
            "link avatar";

            .avatar {
                margin-left: var(--udexSpacer24);
                margin-right: 0;
            }
        }
    }
}

.quote-wrapper {
    margin-block: var(--udexSpacer32);

    &:first-child {
        margin-block-start: 0;
    }

    &:last-child {
        margin-block-end: 0;
    }

    @media (width >= 980px) {
        margin-block: var(--udexSpacer40);
    }
}