.carousel {
  &.promo {
    .carousel-slide {
      flex-direction: column;
    }
  }

  .carousel-slides-container {
    position: relative;
  }

  .carousel-slides,
  .carousel-slide-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .carousel-slides {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: scroll clip;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .carousel-slide {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: min(40rem, calc(100svh - var(--nav-height)));

    &:has(.carousel-slide-content[data-align="center"]) {
      align-items: center;
    }

    &:has(.carousel-slide-content[data-align="right"]) {
      align-items: flex-end;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .carousel-slide-image picture {
      position: absolute;
      inset: 0;

      > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .carousel-slide-content {
      z-index: 1;
      padding: 1rem;
      margin: 1.5rem 3rem;
      color: white;
      background-color: rgba(0 0 0 / 50%);
      position: relative;
      width: var(--slide-content-width, auto);
    }

  }

  .carousel-slide-indicators {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .carousel-slide-indicator button {
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 1rem;
    background-color: rgba(0 0 0 / 25%);

    &:hover,
    &:disabled,
    &:focus-visible {
      background-color: rgba(0 0 0 / 80%);
    }
  }

  .carousel-navigation-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    /* stylelint-disable-next-line no-descending-specificity */
    button {
      border-radius: 8px;
      margin: 0;
      padding: 0;
      width: 2rem;
      height: 2rem;
      position: relative;
      background-color: rgba(0 0 0 / 25%);

      &:hover,
      &:focus-visible {
        background-color: rgba(0 0 0 / 80%);
      }

      &::after {
        display: block;
        content: "";
        border: 3px white solid;
        border-bottom: 0;
        border-left: 0;
        height: 0.75rem;
        width: 0.75rem;
        position: absolute;
        top: 50%;
        left: calc(50% + 3px);
        transform: translate(-50%, -50%) rotate(-135deg);
      }

      &.slide-next::after {
        transform: translate(-50%, -50%) rotate(45deg);
        left: calc(50% - 3px);
      }
    }
  }
}

@media (width >= 600px) {
  .carousel {
    .carousel-navigation-buttons {
      left: 1rem;
      right: 1rem;

      button {
        width: 3rem;
        height: 3rem;
      }

      &::after {
        width: 1rem;
        height: 1rem;
      }
    }

    .carousel-slide .carousel-slide-content {
      --slide-content-width: 50%;

      margin: 2.5rem 5rem;

      &[data-align="justify"] {
        --slide-content-width: auto;
      }
    }
  }
}

/* design system */
.design-system {
  .carousel {
    height: 383px;
    margin-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;

    .carousel-slides {
      gap: 1rem;
      min-height: 327px;
      width: 100%;
      padding: 10px 0;
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .carousel-slide {
      gap: 16px;
      padding: 0 0 24px;
      height: fit-content;
      min-height: 327px;
      border-radius: var(--udexRadiusXL);
      border: 1px solid var(--udexColorGrey2);
      box-shadow: var(--sapContent_Shadow0);
      scroll-snap-align: start;

      &:hover {
        background-color: white;
        border: 1px solid var(--udexColorBlue6);
        box-shadow: var(--sapContent_Shadow1);
      }

      &:focus {
        background-color: white;
        border: 1px solid var(--udexColorBlue10);
        box-shadow: var(--sapContent_Shadow1);
      }

      .carousel-slide-image {
        border-radius: var(--udexRadiusXL);
        width: 100%;
        height: 130px;

        picture {
          border-radius: var(--udexRadiusXL);
          position: static;
          height: 100%;
          width: 100%;

          > img {
            border-top-right-radius: var(--udexRadiusXL);
            border-top-left-radius: var(--udexRadiusXL);
            height: 100%;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 4 / 3;
          }
        }
      }

      .carousel-slide-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        background-color: white;
        color: black;
        border-radius: var(--udexRadiusXL);
        padding: 0 20px;
        height: 157px;
        gap: 12px;

        h2 {
          margin: 0;
          min-height: 26px;
          height: fit-content;
          font-size: var(--udexTypographyHeadingRegularXXXSFontSize);
          font-weight: var(--udexTypographyFontWeightMedium);
          line-height: 26px;
        }

        h3 {
          margin-top: 0;
          margin-bottom: 0;
          min-height: 26px;
          height: fit-content;
          font-size: var(--udexTypographyHeadingRegularXXXSFontSize);
          font-weight: var(--udexTypographyFontWeightMedium);
          line-height: 26px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        p {
          margin: 0;
          padding: 0;
          height: fit-content;
          line-height: 21px;
          font-size: var(--udexTypographyEyebrowMFontSize);
          font-weight: var(--udexTypographyFontWeightRegular);

          a {
            color: var(--udexColorBlue7);

            &:visited {
              color: var(--udexColorBlue10);
            }

            &:hover {
              color: var(--udexColorBlue9);
            }

            &:active {
              color: var(--udexColorBlue11);
            }
          }

        }

      }
    }

    nav {
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      width: 188px;
      gap: 12px;
      padding: 8px;

      /* stylelint-disable-next-line no-descending-specificity */
      button {
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        height: 42px;
        justify-content: center;
        width: 42px;
      }

      span {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        width: 18px;
        height: 18px;
      }
    }

    &.carousel-no-scroll nav {
      display: none;
    }

    .carousel-slide-indicators {
      display: flex;
      justify-content: center;
      padding: 8px;
      align-items: center;
    }

    .carousel-slide-indicator button {
      width: 4px;
      height: 4px;
      padding: 2px 0;

      &:not(:disabled) {
        span {
          img {
            content: url("/aemedge/icons/dot-regular.svg");
          }
        }
      }

      &:disabled {
        background-color: white;
        width: 8px;
        height: 8px;

        span {
          background-color: white;
          width: 8px;
          height: 8px;
        }
      }

      /* stylelint-disable-next-line no-descending-specificity */
      span {
        width: 4px;
        height: 4px;
      }
    }
  }
}

/* screen-size: XS */
@media (width >= 375px) {
  .design-system {
    .carousel {
      .carousel-slide {
        flex: 0 0 100%;
        min-width: 327px;
        height: 327px;
      }
    }
  }
}

/* =S */
@media (width >= 640px) {
  .design-system {
    & .carousel {
      & .carousel-slide {
        min-width: 248px;
        flex: 1 0 40%;
      }

      /* stylelint-disable-next-line rule-empty-line-before */
      & .carousel-slides {
        gap: 48px;
      }

      /* stylelint-disable-next-line no-duplicate-selectors */
      & .carousel-slide {
        & .carousel-slide-content {
          & p {
            max-height: 25px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        & div[data-valign='middle'].carousel-slide-content {
          & p {
            white-space: unset;
          }
        }
      }
    }
  }
}

/* =M, =L, =XL */
@media (width >= 980px) {
  .carousel {
    height: 327px;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.column-section-1-1 .carousel-wrapper .carousel .carousel-slide {
  flex: 0 0 100%;
}

/* stylelint-disable-next-line no-descending-specificity */
.column-section-1-1 .carousel-wrapper .carousel nav {
  display: flex;
}

.carousel-slide .full-image {
  aspect-ratio: 4/3 !important;
  height: 100% !important;
}

.carousel-slide .hide-content {
  display: none;
}

.zero-bottom-padding {
  padding-bottom: 0 !important;
}

/* Carousel full-width variation */
/* stylelint-disable-next-line no-duplicate-selectors */
.design-system {
  & .carousel.promo {
    & .carousel-slide {
      align-items: flex-start;
      gap: 24px;
      padding: 24px;

      .carousel-slide-content {
        height: 100%;
        background-color: var(--udexColorBlue1);
        padding: unset;

        h4 {
          font-size: var(--udexTypographyEyebrowLFontSize);
          text-align: left;
          text-transform: uppercase;
          margin: 0 0 var(--udexSpacer8);
          color: var(--udexColorBlue8);
          font-style: normal;
        }

        h2 {
          font-size: var(--udexTypographyHeadingMediumXSFontSize);
          font-weight: var(--udexTypographyFontWeightMedium);
          text-align: left;
          margin: 0 0 var(--udexSpacer8);
        }
      }

      .carousel-slide-image {
        width: fit-content;

        picture > img {
          height: 120px;
          width: 120px;
        }
      }
    }
  }

  & .carousel.full-width, & .carousel.promo {
    height: auto;

    & nav {
      display: flex;
    }

    & .carousel-slides {
      min-height: unset;
    }

    & .carousel-slide {
      min-height: unset;
      box-shadow: none;
      flex: 0 0 100%;
      height: auto;
      background-color: var(--udexColorBlue1);
    }

    & .carousel-slide .carousel-slide-image {
      height: auto;
    }

    & .carousel-slide .carousel-slide-image picture > img {
      border-radius: 0;
      aspect-ratio: unset;
    }
  }
}

/* =M */
@media (width >= 980px) {
  .design-system {
    & .carousel {
      & .carousel-slides {
        gap: 48px;
        justify-content: space-between;
      }

      & .carousel-slide {
        flex: 1 1 222px;
        min-width: 222px;
      }

      & nav {
        display: flex;
      }

      &.promo {
        & .carousel-slide {
          align-items: center;
          flex-direction: row;
        }
      }
    }
  }
}

