/* stylelint-disable selector-class-pattern */

.hero {
  --hero-block-padding: var(--udexSpacer40);
  --hero-min-height: auto;

  display: grid;
  grid-template-columns: 1fr;
  padding-block: var(--hero-block-padding);
  padding-inline: var(--hero-margin--left) var(--hero-margin--right);
  position: relative;

  @media (width >= 980px) {
    --hero-block-padding: var(--udexSpacer48);

    column-gap: var(--udexGridGutters);
    grid-template-columns: repeat(12, minmax(0, 1fr));
    min-height: var(--hero-min-height);
  }

  @media (width >= 1280px) {
    --hero-block-padding: var(--udexSpacer56);
  }
}

.fixed-height-small-style-wrapper .hero,
.fixed-height-large-style-wrapper .hero {
  --hero-block-padding: var(--udexSpacer48);

  @media (width >= 980px) {
    --hero-block-padding: var(--udexSpacer56);
  }
}

.fixed-height-small-style-wrapper .hero {
  --hero-min-height: 450px;
}

.fixed-height-large-style-wrapper .hero {
  --hero-min-height: 550px;
}

.hero:has(.hero__additional-content) {
  --hero-block-padding: var(--udexSpacer32);

  row-gap: var(--hero-block-padding);

  @media (width >= 980px) {
    --hero-block-padding: var(--udexSpacer56);

    grid-template-columns: repeat(2, minmax(0, 1fr));

    & .hero__additional-content,
    & .hero__content {
      grid-column: span 1;
    }
  }
}

body.hub-l2:has(aside) .hero {
  grid-template-columns: 1fr;

  @media (width >= 1280px) {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
}

.hero__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: var(--udexTypographyBodySFontSize);
  justify-content: center;
  grid-column: span 8;

  @media (width >= 1280px) {
    font-size: var(--udexTypographyBodyMFontSize);
  }

  @media (width >= 1600px) {
    font-size: var(--udexTypographyBodyLFontSize);
  }

  & h1 {
    font-size: var(--udexTypographyHeadingMediumSFontSize);
    font-weight: var(--udexTypographyFontWeightMedium);

    @media (width >= 980px) {
      font-size: var(--udexTypographyHeadingMediumMFontSize);
    }

    @media (width >= 1280px) {
      font-size: var(--udexTypographyHeadingMediumLFontSize);
    }

    @media (width >= 1600px) {
      font-size: var(--udexTypographyHeadingMediumXXLFontSize);
    }
  }

  & > * {
    margin-block: 0 var(--udexSpacer12);

    &:last-child {
      margin-block-end: 0;
    }
  }

  @media (width >= 640px) {
    & > * {
      margin-block-end: var(--udexSpacer20);
    }

    & > *:last-child {
      margin-block-end: 0;
    }
  }
}

.hero:has(.hero__background-image:not(.full-background-image)) {
  padding-block: 0;

  & .hero__content {
    padding-block: var(--hero-block-padding);
  }
}

body.hub-l2:has(aside) .hero:has(.hero__background-image:not(.full-background-image)) {
  column-gap: 0;

  @media (width >= 1280px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    & .hero__background-image,
    & .hero__content {
      grid-column: span 1;
    }

    & .hero__content {
      padding-inline-end: var(--udexSpacer24);
    }

    & .hero__background-image {
      margin-block-end: calc(-1* var(--udexGridMargins));

      & img {
        position: absolute;
        width: auto;
      }
    }
  }
}

body:not(.hub-l2:has(aside)) .hero:has(.hero__background-image:not(.full-background-image)) {
  column-gap: 0;

  @media (width >= 980px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    & .hero__background-image,
    & .hero__content {
      grid-column: span 1;
    }

    & .hero__content {
      padding-inline-end: var(--udexSpacer24);
    }

    & .hero__background-image {
      & img {
        position: absolute;
        width: auto;
      }
    }
  }
}

.hero__background-image {
  flex: 1;
}

.hero__background-image img {
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: left center;
  width: auto;
}

.hero__additional-content {
  align-items: center;
  display: flex;
  flex: 1;

  & picture img {
    border-radius: var(--udexSpacer16);
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
}

.hero__background-image.full-background-image {
  inset: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1;

  & img {
    object-position: center bottom;
    width: 100%;
  }
}

.hero__content__eyebrow {
  color: var(--udexColorGrey6, #5b738b);
  font-size: var(--udexTypographyEyebrowMFontSize, 14px);
  font-weight: var(--udexTypographyFontWeightMedium);
  margin-block-end: var(--udexSpacer8);
  text-decoration: none;
  text-transform: uppercase;

  & a {
    color: inherit;
    text-decoration: inherit;

    &:visited {
      color: var(--udexColorGrey9);
    }

    &:hover {
      color: var(--udexColorGrey8);
    }

    &:active {
      color: var(--udexColorGrey10);
    }
  }
}

.hero__content__info {
  color: var(--udexColorGrey7, #223548);
  display: inline-block;
  font-family: var(--sapFontFamily);
  font-size: var(--udexTypographyBodyXSFontSize, 14px);

  & span:last-of-type::after {
    content: '';
    margin: 0;
  }

  & .avatar {
    display: inline-block;
    margin-inline-end: 10px;
    vertical-align: middle;
  }
}

.hero__content__info__author {
  color: var(--udexColorGrey7);

  &:visited {
    color: var(--udexColorGrey10);
  }

  &:hover {
    color: var(--udexColorGrey9);
  }

  &:active {
    color: var(--udexColorGrey11);
  }

  &:not(:last-child)::after {
    content: ",";

    /* Use margin rather than space to avoid underline between items */
    margin-inline-end: var(--udexSpacer4);
  }
}

.hero__content__info__authors::after {
  content: '•';
  margin-inline: var(--udexSpacer8);
}

.hero__content__info__date::after {
  content: '•';
  margin-inline: var(--udexSpacer8);
}

.hero__content__tags .tag {
  font-size: var(--udexTypographyBodyXXSFontSize);
}

.hero__content__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--udexSpacer12) var(--udexSpacer16);
}

.hero-container.section {
  padding-block: 0;
}

.hero-wrapper.hero-text-white-wrapper,
.background-dark .hero-wrapper {
  color: var(--udexColorNeutralWhite);

  & .hero__content__eyebrow {
    color: var(--udexColorNeutralWhite);

    & a {
      &:visited {
        color: var(--udexColorBlue4);
      }

      &:hover {
        color: var(--udexColorBlue3);
      }

      &:active {
        color: var(--udexColorBlue5);
      }
    }
  }

  & .hero__content__info {
    color: var(--udexColorGrey3);
  }

  & .hero .hero__content__info__author {
    color: var(--udexColorGrey3);

    &:visited {
      color: var(--udexColorGrey2);
    }

    &:hover {
      color: var(--udexColorGrey1);
    }

    &:active {
      color: var(--udexColorGrey3);
    }
  }
}
