.web-component {
  & main {
    & .section {
      &.deep-link-container {
        display: none;
      }
    }
  }

  & h2 {
    & .deep-link {
      & .icon-chain-link {
        height: 20px;
        width: 20px;
      }
    }
  }

  & h3 {
    & .deep-link {
      & .icon-chain-link{
        height: 14px;
        width: 14px;
      }
    }
  }

  & h2,
  & h3 {
    & .deep-link {
      padding-left: 10px;

      & .icon-chain-link {
        cursor: pointer;
        display: none;
      }

      & .icon-chain-link:hover {
        background-color: #0045bf;
        mask: url('/aemedge/icons/chain-link.svg') center / 100% no-repeat;
        padding-left: inherit;
      }
    }
  }

  & h2:hover,
  & h3:hover{
    & .deep-link .icon-chain-link {
      display: inline-block;
    }
  }
}
