aside {
  --nav-links-font-size: var(--udexTypographyNavigationRegularMFontSize);
  --nav-links-font-weight: var(--udexTypographyFontWeightRegular);
  --nav-links-line-height: var(--udexTypographyNavigationLineHeight);
  --nav-text-color: var(--udexColorGrey8);
  --nav-line-separator-color: var(--udexColorGrey2);
  --nav-margin: var(--udexGridMargins);
  --nav-height: var(--udexSpacer40);
  --side-nav-vertical-height: 2.5rem;
  --nav-active-marker-color: var(--udexColorBlue7);

  &.side-nav-wrapper {
    position: relative;
    z-index: 99;
  }

  & ul {
    margin: 0;
  }

  & .side-nav {
    top: 0;
    position: sticky;
  }

  #sidenav {
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--udexColorNeutralWhite);
    box-shadow: 0 2px 8px 0 #2236494d;
    border-radius: 0.25rem;
    height: var(--nav-height);

    @media (width >= 980px) {
      & {
        margin: unset;
        box-shadow: unset;
        border-radius: unset;
        height: unset;
      }
    }

    & :is(a, .text) {
      color: var(--nav-text-color);
      font-size: var(--nav-links-font-size);
      font-weight: var(--nav-links-font-weight);
      text-decoration: none;
      cursor: pointer;
    }

    & :is(a)[aria-current="page"] {
      color: var(--udexColorBlue7);
    }

    & :is(a):hover {
      color: var(--sapLink_Hover_Color);
    }

    & ul {
      list-style: none;
    }

    & .nav-drop {
      & ul > li {
        padding-inline-start: 28px;
      }
    }

    & .nav-drop::after {
      content: '\203A';
      position: absolute;
      transform: scale(1.4);
      right: var(--udexSpacer16);
      top: 12.5px;
    }

    @media (width >= 980px) {
      & .nav-drop::after {
        right: 20px;
      }
    }

    & .nav-side-sections {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transform: translateY(-15px);
      width: 100%;

      @media (width >=980px) {
        & {
          display: block;
          padding: unset;
          opacity: 1;
          pointer-events: auto;
          position: static;
          transform: unset;
        }
      }

      & ul {
        display: flex;
        flex-direction: column;
        padding: unset;
        position: relative;

        & :is(li, a) {
          font-weight: var(--udexTypographyFontWeightMedium);
          font-size: var(--nav-links-font-size);
        }

        & li {
          padding-block: 12.5px;
          padding-inline: var(--udexSpacer16);
        }
      }

      & > .default-content-wrapper > ul {
        gap: var(--udexSpacer8);
        margin-block-start: var(--udexSpacer24);

        @media (width >= 980px) {
          & {
            padding-block-end: 0;
          }
        }
      }

      & .nav-drop {
        position: relative;

        &[aria-expanded='true'] {
          color: var(--sapLink_Hover_Color);
          padding-block-end: 0;

          &::after {
            transform: rotate(90deg) scale(1.2);
            transition: transform 0.3s ease-out;
            color: var(--sapLink_Hover_Color);
          }
        }

        & ul {
          opacity: 0;
          position: absolute;
          transform: translateY(-25%);
          pointer-events: none;
        }

        &[aria-expanded='true'] ul {
          opacity: 1;
          position: relative;
          padding-block-start: 12.5px;
          transform: translateY(0);
          pointer-events: auto;
          transition:
            opacity 0.3s ease-out,
            transform 0.3s ease-out;

          & a {
            font-weight: var(--nav-links-font-weight);
          }
        }
      }
    }

    &[aria-expanded='true'] {
      min-height: 100dvh;

      & .nav-side-sections {
        display: block;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        position: static;
        transition:
          opacity 0.3s ease-out,
          transform 0.3s ease-out;
      }
    }

    @media (width < 980px) {
      &[aria-expanded='true'] {
        & .nav-side-home {
          border-bottom: 1px solid var(--nav-active-marker-color);
          box-shadow: 0 5px 2px -2px #2236494d;

          & p::after {
            color: var(--nav-active-marker-color);
            transform: rotate(90deg) scale(1.4);
            transition: transform 0.3s;
          }
        }
      }
    }

    .nav-side-home {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: var(--nav-height);
      justify-content: center;
      padding-inline: var(--udexSpacer16);
      position: relative;

      @media (width >=980px) {
        & {
          border-bottom: 1px solid var(--nav-line-separator-color);
          box-shadow: unset;
          border-radius: unset;
          height: unset;
          padding-block: 12.5px 36.5px;
        }
      }

      & p {
        position: relative;
        margin: unset;
        font-size: var(--nav-links-font-size);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--nav-links-line-height);

        @media (width < 980px) {
          &::after {
            content: '\203A';
            position: absolute;
            right: 0;
            top: 0;
            transform: scale(1.4);
          }
        }
      }

      & .button {
        color: var(--udexCoreNavigation);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--nav-links-line-height);
        white-space: nowrap;
        padding: unset;
        margin: unset;

        &:is(a)[aria-current="page"] {
          color: var(--udexColorBlue7);
        }

        &:is(a):hover {
          color: var(--sapLink_Hover_Color);
        }
      }
    }
  }

  @media (width >= 980px) {
    &.side-nav-wrapper {
      position: relative;
      max-width: 180px;
      margin-top: calc(var(--nav-height) - var(--udexSpacer84));
    }

    & .side-nav {
      padding-block: var(--udexSpacer84);
    }
  }
}
