@import url("/aemedge/libs/filters/filters.css");
@import url("/aemedge/libs/pages/pages.css");
@import url("/aemedge/libs/carousel/carousel.css");
@import url("/aemedge/libs/pictureCard/pictureCard.css");

.resource-center {
  container: resource-center / inline-size;
  display: flex;
  flex-direction: column;

  & > .button-wrapper {
    align-self: center;

    & img {
      rotate: 90deg;
    }
  }

  & .heading {
    grid-column: 1 / -1;
    margin: unset;
  }

  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    gap: var(--udexSpacer32) var(--udexGridGutters);
    list-style: none;
    margin: 0;
    padding: 0;

    @media (width >= 980px) {
      row-gap: var(--udexSpacer40);
    }
  }

  &.text-only {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--udexSpacer16);

    @media (width >= 980px) {
      & {
        grid-template-columns: repeat(9, 1fr);
      }
    }

    & ul {
      display: contents;

      & .card {
        grid-column: 1 / -1;

        @media (width >= 980px) {
          & {
            grid-column: span 4;
          }
        }
      }
    }

    & .button-wrapper {
      display: flex;
      justify-content: center;
      grid-column: span 6;

      @media (width >= 980px) {
        & {
          grid-column: span 8;
        }
      }
    }

    & .pages {
      grid-column: 1 / -1;
    }
  }
}

body.hub-l2 .resource-center {
  @media (width >= 980px) {
    ul {
      /* Restrict columns to 3 when sidebar is present, i.e. L2 pages */
      grid-template-columns: repeat(3, 1fr);
    }

    &.wide ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@container resource-center (240px < width < 480px) {
  .resource-center.text-only ul .card {
    grid-column: 1 / -1;
  }
}

@container resource-center (width >= 640px) {
  .resource-center ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .resource-center.wide ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@container resource-center (width >= 980px) {
  .resource-center ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .resource-center.wide ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

.resource-center-wrapper {
  margin-block: var(--udexSpacer32);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  @media (width >= 980px) {
    margin-block: var(--udexSpacer40);
  }
}

.resource-center-carousel-wrapper {
  margin-block-start: var(--udexSpacer8);
}