@import url("/aemedge/libs/filters/filters.css");
@import url("/aemedge/libs/pages/pages.css");
@import url("/aemedge/libs/carousel/carousel.css");
@import url("/aemedge/libs/pictureCard/pictureCard.css");

.resource-center {
  display: flex;
  flex-direction: column;

  & > .button-wrapper {
    align-self: center;
    margin-block-start: var(--udexSpacer24);

    @media (width >= 980px) {
      margin-block-start: var(--udexSpacer40);
    }

    & img {
      rotate: 90deg;
    }
  }

  & ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--udexSpacer32) var(--udexGridGutters);
    list-style: none;
    margin: 0;
    padding: 0;

    @media (width >= 980px) {
      row-gap: var(--udexSpacer40);
    }
  }

  &.text-only ul {
    row-gap: var(--udexSpacer16);
  }
}

@media (width >= 640px) {
  .resource-center:not(.carousel, .text-only, .horizontal) .card-items.col-s-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >= 980px) {
  .resource-center:not(.carousel, .text-only, .horizontal) {
    & .card-items.col-m-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    & .card-items.col-m-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .resource-center.text-only .card-items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  :where(body.hub-l2:has(aside)) {
    .resource-center.text-only .card-items {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

/* L and XL - 3 or 4 per row */
@media (width >= 1280px) {
  .resource-center:not(.carousel, .text-only, .horizontal) {
    & .card-items.col-l-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    & .card-items.col-l-3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    & .card-items.col-l-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  :where(body.hub-l2:has(aside)) {
    & .resource-center.text-only .card-items,
    & .resource-center:not(.carousel, .text-only, .horizontal) .card-items.col-l-2 {
      grid-template-columns: repeat(9, minmax(0, 1fr));

      & > * {
        grid-column: 1 / 5;
      }

      & > *:nth-child(even) {
        grid-column: 5 / 9;
      }
    }
  }

  .column-section-1-1,
  .column-section-3-1:nth-child(2),
  .column-section-1-3:nth-child(1),
  .column-section-2-1:nth-child(2),
  .column-section-1-2:nth-child(1) {
    & .resource-center.text-only ul .card {
      grid-column: 1 / -1;
    }
  }
}

.resource-center-wrapper {
  margin-block: var(--udexSpacer32);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  @media (width >= 980px) {
    margin-block: var(--udexSpacer40);
  }
}

.resource-center-carousel-wrapper {
  margin-block-start: var(--udexSpacer8);

  @media (width >= 980px) {
    & .picture-card {
      height: 155px;

      & .infoblock,
      & .description {
        display: none;
      }
    }
  }
}