.section.search-container {
  min-height: calc(100vh - 104px);
  padding-block: var(--udexSpacer32) !important;
}

.block.search {
  .grid-view {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 24px;
    padding: 24px 0;
  }

  .list-view h2 {
    margin: 0;
    order: 2;
  }

  .search-result-card-tag span,
  .list-view h2 span {
    padding: 2px 8px;
    background-color: #eaecee;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
  }

  .list-view h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    order: 1;
  }

  .list-view .d-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: 3;
    grid-row-start: 2;
  }

  .grid-view .search-result-card {
    height: 280px;
    box-shadow: 0 2px 4px 0 #22364933;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    Border: 1px solid transparent;

    &:hover {
      background-color: white;
      Border: 1px solid var(--udexColorBlue6);
      box-shadow: var(--sapContent_Shadow1);
    }

    &:active{
      background-color: white;
      Border: 1px solid var(--udexColorBlue7);
      box-shadow: var(--sapContent_Shadow0);
    }

    & h2,
    & h3 {
      margin: 0;
      line-height: 1;
    }

    & h2 {
      padding: 2px 8px;
        background-color: #eaecee;
        font-size: 12px;
        border-radius: 4px;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 400;
        width: min-content;
        display: none;
       
      &::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 20px;
        background-color: #1b90ff;
        top: 0;
        left: 0;
        transform: translateY(-25%);
        border-radius: 0 4px 4px 0;
        display: none;
      }
    }

    & h3 {
      color: #000;
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      padding-bottom: 24px;
      font-family: var(--sapFontFamily);
      grid-row-start: 1;
    }

    & .d-flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      grid-row-start: 4;
    }
  }

  .grid-view .search-result-card-tag{
    display: flex;
    gap: 8px;
    margin: 8px 0;
    width: 100%;
    flex-wrap: wrap;
    position: relative;

    .design{
      display: none;
      color:#223548;
      height: min-content;
      width: min-content;
    }

    .tech{
      color:#223548;
      height: min-content;
      width: min-content;
    }

    .type{
      background:transparent;
      border: 1px solid #A9B4BE;
      color:#223548;
      height: min-content;
      width: min-content;
    }

    .search-result-card-status {
      width: 100%;
      font-size: 14px;
      color: #223548;
      padding: unset;
      display: flex;
      gap: 8px;
      align-items: center;
      margin-top: 8px;
      margin-bottom: 16px;
      background: none;
      order: 2;
  
      &::before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: transparent;
      }
    }

    .search-result-card-status.new,
    .search-result-card-status.default {
      &::before {
        background-color: #36A41D;
      }
    }
  
    .search-result-card-status.updated,
    .search-result-card-status.available {
      &::before {
        background-color: #C35500;
      }
    }
  
    .search-result-card-status.deprecated{
      &::before {
        background-color: #A9B4BE;
      }
    }

    .search-result-card-status.target {
      &::before {
        background-color: #fff;
        border: 1px solid #5B738B;
      }
    }

    .search-result-card-status.live {
      &::before {
        background-color: #0070F2;
      }
    }

  }

  .search-result-card-head {
    margin-bottom: 16px;
    height: 130px;
    width: 100%;
    background-color: #f1ecff;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .search-result-card-content {
    padding: 0 20px;
    align-items: center;
    display: grid;
    grid-template-rows: repeat(4, auto);
  }

  .search-result-card-description {
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    overflow: hidden;
    margin-bottom: 18px;
    display: none;
    line-height: 18px;
    max-height: 36px;
    grid-row-start: 2;
    font-size: 14px;
  }
 

  .search-result-items {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .result-display{
      position: absolute;
      left: 0;

    }}

    .show-tags{
      display: flex;
      flex-wrap: wrap;
      margin-top: 16px;
      gap: 8px;

       .tags{
        padding: 2px 8px;
        background-color: #eaecee;
        font-size: 14px;
        border-radius: 4px;
        white-space: nowrap;
        vertical-align: middle;
        font-weight: 400;
        width: min-content;
        order: 1;

        .icon-close-tag{
          border: none;
          padding: 0;
        }
      }

      button.clear-all {
        background: transparent;
        border: none;
        order: 2;
        font-size: 14px;
        font-weight: 400;
        color: #0070F2;
        display: flex;
        align-items: center;
      }
  }

  /* SORT */

  .sort {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 2px 2px 0 0;
    position: relative;

    .sort-az {
      cursor: pointer;
      display:none;

      &:hover {
        color: var(--udexColorBlue9);
      }

      &::after {
        content: '';
        mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMS4yMjggMTEuNjI1YS44ODcuODg3IDAgMDEtLjY1Mi0uMjgxLjg5My44OTMgMCAwMS4wMzMtMS4yNzJMNC44NzMgNiAuNjEgMS45MjdBLjkwNC45MDQgMCAwMS41NzYuNjU3YS45MDQuOTA0IDAgMDExLjI3LS4wMzVsNC45NSA0LjcyNWEuODkzLjg5MyAwIDAxMCAxLjMwNWwtNC45NSA0LjcyNWEuODY3Ljg2NyAwIDAxLS42MTguMjQ4eiIgZmlsbD0iIzAwNDBCMCIvPjwvc3ZnPg==') no-repeat center;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: text-bottom;
        background-color: currentcolor;
        transform: rotate(90deg);
        margin-left: 5px;
        margin-bottom: 0;
      }
    }

    &.active {
      border-bottom: 3px solid var(--udexColorBlue7);

      & .sort-az {
        color: var(--udexColorBlue9);

        &::after {
          transform: rotate(-90deg);
        }
      }
    }

    .dropdown {
      display: none;
      position: absolute;
      background-color: #fff;
      z-index: 1;
      width: 201px;
      border: 1px solid var(--udexColorGrey6);
      border-radius: var(--udexRadiusS);
      padding: 0;
      overflow: hidden;
      left: -12px;
      margin-top: 8px;

      & li {
        padding: 8px 12px;
        list-style: none;
        cursor: pointer;

        &:hover {
          background-color: var(--udexColorGrey1);
        }

        &.active {
          background-color: var(--udexColorBlue1);

          &:not(:first-child) {
            border-top: 1px solid var(--udexColorBlue7);
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--udexColorBlue7);
          }
        }
      }
    }

    .dropdown.show {
      display: block;
    }
  }

  /* List View */
  .grid-view .header-row {
    display: none;
  }

  .list-view {
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    gap: 20px;
    align-items: start;
    margin-top:20px; /* Center align the list view */
  }

  .list-view .header-row {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    font-size: 16px;
    font-weight: 700;
    
  }

  .list-view .search-result-card-head,
  .list-view .search-result-card-description {
    display: none;
  }
/* stylelint-disable no-descending-specificity */
  .list-view .search-result-card {
    border-bottom: 1px solid #a9b4be;
  }

  .list-view .search-result-card-content {
    display: grid;
    grid-template-rows: repeat(2, 1fr) ;
    padding: 0 20px 16px 0;
  }

  .list-view .search-result-card-status{
    display: none;
  }

  .list-view .search-result-card-tag{
    display: flex;
    gap: 8px;
    margin-top: 2px;

    .design{
      display: none;
    }

    .type{
      background:transparent;
        border: 1px solid #A9B4BE;
        color:#223548;
        height: min-content;
        width: min-content;
    }
  }

  /* toggle css */

  .buttons {
    display: inline-flex;
    margin-left:16px;
  }

  .switch-view {
    width: 36px;
    height: 36px;
    border: 1px solid #a9b4be;
    border-radius: 8px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    
  }

  .switch-view.grid::before {
    content: '';
    width: 12.5px;
    height: 12.5px;
    background-image: url('./grid.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .switch-view.list::before {
    content: '';
    width: 12.5px;
    height: 12.5px;
    background-image: url('./list.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .switch-view.active {
    border-color: var(--udexColorBlue7);
    background-color: #fff;
  }

  /* search css */
  .ui-search-form {
    position: relative;
  }

  .ui-search-input {
    height: 42px;
    border: 1px solid #5b738b;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    color: #475e75;
    width: 100%;
    margin-bottom: 40px;
    background-image: url('/aemedge/icons/search.svg');
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: center;
  }

  .search-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('./search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 12px;
    top: 12px;
  }

  
  /** MEDIA QUERIES **/
  @media (width >= 640px) {
    .grid-view {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }


    .grid-view .search-result-card {
      height: 310px;
      min-width: 256px;
    }

    .ui-search-input {
      margin-bottom: 48px;
    }

    .list-view .search-result-card-tag{
      display: flex;
      gap: 8px;
      margin-left: 0;

    }
    
  }

  @media (width >= 980px) {
    .grid-view {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 48px;
    }

    .grid-view .search-result-card-tag{
      .design{
        display: flex;
      }
    }

    .grid-view .search-result-card {
      height: 355px;
      min-width: 366px;

      & h2 {
        display: block;
      }

      & h3 {
        margin-bottom: 12px;
        padding: unset;
      }
    }
    
    .ui-search-input {
      width: 780px;
    }

    .list-view h2{
      grid-row-start: unset;
      
    }

    .list-view h3{
      grid-column: unset;
      grid-row: span 2;
    }

    .list-view .d-flex{
      grid-row-start: unset;
      grid-column-start: 2;
      grid-template-columns: unset;
    }

    .list-view .search-result-card-content{
      grid-template-rows: unset;
      grid-template-columns: 1fr 1fr;
    }

    .search-result-card-description {
      display: block;
    }

    .list-view .search-result-card-tag{
      display: flex;
      flex-direction: row-reverse;
      gap: 8px;

      .design{
        display: flex;
        order: 1;
      }

      .tech{
        order: 2;
      }

      .type{
        order: 3;
      }
    }
  }

  @media (width >= 1280px) {
    .grid-view {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 48px;
    }

    .grid-view .search-result-card {
      min-width: 335px;
    }

    .search-result-card-description {
      display: block;
    }
  
    .list-view .header-row{
      display: grid;
    }

    .list-view .search-result-card-content {
      display: grid;
      grid-template-rows: unset;
      grid-template-columns: 1fr 4fr ;
    }

    .list-view h2{
      grid-row-start: unset;
    }

    .list-view .d-flex{
      grid-row-start: unset;
      grid-column-start: 2;
      grid-template-columns: unset;
    }

    .list-view h3{
      grid-column: unset;
      font-size: 16px;
      grid-row: span 2;
    }

    .list-view .search-result-card-tag{
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .design{
        height: min-content;
        width: min-content;
        order: 1;
      }

      .tech{
        color:#223548;
        height: min-content;
        width: min-content;
        order: 2;
       }

        .type{
        background:transparent;
        border: 1px solid #A9B4BE;
        color:#223548;
        height: min-content;
        width: min-content;
        order: 4;
        margin-left: 10px;
      }

        .search-result-card-status {
        padding-left: 21.6px;
        background: none;
        position: relative;
        order: 3;

        &::before {
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: transparent;
          position: absolute;
          left: 5.6px;
          top: 50%;
          transform: translateY(-50%);

        }}

        .search-result-card-status.new,
        .search-result-card-status.default {
          &::before {
            background-color: #36A41D;
          }
        }
      
        .search-result-card-status.updated,
        .search-result-card-status.available {
          &::before {
            background-color: #C35500;
          }
        }
      
        .search-result-card-status.deprecated{
          &::before {
            background-color: #A9B4BE;
          }
        }
    
        .search-result-card-status.target {
          &::before {
            background-color: #fff;
            border: 1px solid #5B738B;
          }
        }
    
        .search-result-card-status.live {
          &::before {
            background-color: #0070F2;
          }
        }
    }
    
  }

  @media (width >= 1280px) {
    .ui-search-input {
      margin-bottom: 56px;
      width: 446px;
    }

    .sort {
      font-size: var(--udexTypographyBodyXSFontSize);

      & .sort-az {
        display: inline-block;
        margin-left: 8px;
        font-size: var(--udexTypographyBodyXSFontSize);
        }

        & .switch-view {
          width: 26px;
          height: 26px;
      }
    }

    .list-view .search-result-card-status{
      display: block;
    }
    /* stylelint-disable no-duplicate-selectors */
  .search-result-items {
    height: 32px;
  }
  }
  

  @media (width >= 1920px) {
    .grid-view {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 48px;
    }

    .grid-view .search-result-card {
      min-width: 321px;
      border: unset;
    }
}
}
