.tiles {
  & ul {
    margin: 0;
  }

  & .tile {
    & div:nth-child(2) {
      & > h3 {
        font-size: var(--udexTypographyBodySFontSize);

        @media (width >= 1280px) {
          font-size: var(--udexTypographyHeadingMediumXXSFontSize);
          font-weight: var(--udexTypographyFontWeightMedium);
        }

        & + p {
          padding-block: 0 var(--udexSpacer20);
          margin-block: 0;
        }
      }

      & .button-container {
        margin-block: 0;
      }

      & > .button-container:not(:last-child) {
        margin-block: 0 var(--udexSpacer12);
      }
    }
  }

  & > ul {
    list-style: none;
    padding: 0;
    display: grid;

    /* XS one per row */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: var(--udexSpacer20) var(--udexGridGutters);

    & > li {
      display: block;

      & img {
        width: 100%;
        aspect-ratio: 4 / 3;
        object-fit: contain;
      }

      & .tile {
        align-items: center;
        background: var(--sapTile_Background);
        border-radius: var(--udexRadiusL, 12px);
        box-shadow: var(--sapContent_Shadow0);
        color: var(--udexCoreTextDark);
        display: flex;
        font-size: var(--udexTypographyBodySFontSize);
        font-weight: var(--udexTypographyFontWeightRegular);
        height: 56px;
        line-height: var(--udexTypographyHeadingLineHeight);
        padding: 0 var(--udexSpacer16, 16px);

        &:hover {
          border-radius: var(--udexRadiusL, 12px);
          box-shadow: var(--sapContent_Shadow1);
        }
      }

      & .tile-link .tile:hover {
        outline: 1px solid var(--udexColorBlue6);

        &:active {
          outline: 2px solid var(--udexColorBlue6);
          box-shadow: var(--sapContent_Shadow0);
        }
      }
    }
  }

  & .tile-body {
    margin: 0 0 0 var(--udexSpacer24);

    & > *:first-child {
      margin: 0;
    }
  }

  & .tile-image {
    line-height: 0;

    & picture {
      display: block;
    }

    & img {
      display: block;
      height: 24px;
      object-fit: contain;
      width: 24px;
    }
  }

  & .tile-link {
    display: inline-block;
    width: 100%;
    height: 100%;

    & > a {
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: var(--udexColorNeutralBlack);
    }
  }
}

@media (width >= 980px) {
  .tiles:not(.elems1) > ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  body.hub-l2:has(aside) .tiles {
    &:not(.elems1) > ul {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}

@media (width >= 1280px) {
  .tiles:is(.elems9plus) > ul {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .tiles:not(.elems1, .elems9plus) > ul {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  body:not(.hub-l2:has(aside)) .tiles:not(.elems9plus) > ul,
  body.hub-l2:has(aside) .tiles:not(.elems7, .elems8, .elems9plus) > ul{
    row-gap: var(--udexSpacer20);

    & > li .tile {
      display: block;
      font-size: var(--udexTypographyHeadingMediumXXSFontSize);
      height: 100%;
      padding: var(--udexSpacer24, 24px) var(--udexSpacer20, 20px);
      padding-top: var(--udexSpacer16, 16px);
      padding-bottom: var(--udexSpacer16, 16px);
    }

    & .tile-image img {
      width: 40px;
      height: 40px;
    }

    & .tile-body {
      margin: 16px 0 0;
      margin: 0;
    }
  }

  body.hub-l2:has(aside) .tiles {
    &:not(.elems1) > ul {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &:is(.elems7, .elems8, .elems9plus) > ul {
      grid-template-columns: repeat(9, minmax(0, 1fr));

      & > * {
        grid-column: 1 / 5;
      }

      & > *:nth-child(even) {
        grid-column: 5 / 9;
      }
    }
  }
}

.design-system {
  & .tiles {
    & > ul {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: var(--udexSpacer40) var(--udexGridGutters);
      padding-left: 0 !important;

      & > li {
        /* stylelint-disable-next-line */
        & .tile {
          height: auto;
        }
      }
    }

    &.plain {
      & > ul {
        /* Set all children to be equal height */
        grid-auto-rows: 1fr;
        grid-row-gap: var(--udexSpacer16);
        margin: 0;
        padding: 0;

        & li {
          align-items: center;
          display: flex;
          height: 100%;

          & .tile-link {
            & > a {
              color: inherit;
            }
          }

          /* stylelint-disable-next-line */
          & .tile {
            align-items: unset;
            display: block;
            height: 100%;
            padding: var(--udexSpacer16);
            width: 100%;
          }

          & .tile-body {
            margin: 0;

            & p {
              margin: 0;
              font-size: var(--udexTypographyBodyXSFontSize);
              font-weight: var(--udexTypographyFontWeightRegular);

              &:first-of-type {
                color: var(--udexColorBlue8);
                font-size: var(--udexTypographyBodySFontSize);
                font-weight: var(--udexTypographyFontWeightMedium);
                margin-bottom: var(--udexSpacer8);
              }
            }
          }
        }
      }
    }

    &.overview {
      & > ul {
        /* Set all children to be equal height */
        grid-auto-rows: 1fr;
        grid-row-gap: var(--udexSpacer16);
        margin: 0;
        padding: 0;

        & li {
          align-items: center;
          display: flex;
          height: 100%;

          & .tile-link {
            & > a {
              color: inherit;
            }
          }

          /* stylelint-disable-next-line */
          & .tile {
            align-items: unset;
            display: block;
            height: 100%;
            padding: var(--udexSpacer16);
            width: 100%;
          }

          /* stylelint-disable-next-line */
          & .tile-body {
            margin: 0 !important;

            /* stylelint-disable-next-line */
            & p {
              margin: 0;
            }

            & div {
              /* Eyebrow */
              /* stylelint-disable-next-line */
              & p:first-child {
                color: var(--udexColorGrey6);
                font-size: var(--udexTypographyBodyXSFontSize);
                font-weight: var(--udexTypographyFontWeightMedium);
                letter-spacing: 1px;
                line-height: var(--udexTypographyEyebrowLineHeight);
                margin-bottom: var(--udexSpacer8);
                text-transform: uppercase;

                /* Heading */
                /* stylelint-disable-next-line */
                & + p {
                  color: var(--udexCoreHeadingDark);
                  font-size: var(--udexTypographyHeadingMediumXXSFontSize);
                  font-weight: var(--udexTypographyFontWeightMedium);
                  line-height: var(--udexTypographyHeadingLineHeight);
                  margin-bottom: var(--udexSpacer12);
                }
              }

              /* Text */
              /* stylelint-disable-next-line */
              & > p {
                color: var(--sapTextColor);
                font-size: var(--udexTypographyBodyXSFontSize);
                font-weight: var(--udexTypographyFontWeightRegular);
                line-height: var(--udexTypographyBodyLineHeight);
              }

              /* stylelint-disable-next-line */
              & > p:last-child {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }

      &.full-width {
        & > ul {
          grid-template-columns: repeat(1, 1fr);

          li {
            & .tile-body {
              & div {
                & > p:first-child {
                  font-size: 12px;
                  color: #475e75;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* =S */
@media (width >= 640px) {
  .design-system {
    & .tiles {
      &.plain {
        & > ul {
          grid-gap: var(--udexSpacer20) 0;

          & li {
            & .tile-body {
              & p {
                font-size: var(--udexTypographyBodyXSFontSize);
              }
            }
          }
        }
      }

      &.overview {
        & > ul {
          grid-gap: var(--udexSpacer32) var(--udexSpacer48) !important;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

/* =M */
@media (width >= 980px) {
  .design-system {
    & .tiles {
      &.plain {
        & > ul {
          grid-gap: var(--udexSpacer20) var(--udexSpacer48);
          grid-template-columns: repeat(2, 1fr);

          & li {
            & .tile-body {
              & p {
                font-size: var(--udexTypographyBodyXSFontSize);
              }
            }
          }
        }
      }

      /* &.overview {} */
    }
  }
}

/* =L */
@media (width >= 1280px) {
  .design-system {
    & .tiles {
      &.plain {
        & > ul {
          grid-row-gap: var(--udexSpacer24);

          & li {
            & .tile-body {
              & p {
                font-size: var(--udexTypographyBodyXSFontSize);
              }
            }
          }
        }
      }

      &.overview {
        & > ul {
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}

/* =XL */
@media (width >= 1600px) {
  .design-system {
    & .tiles {
      &.overview {
        & > ul {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}

.tiles-wrapper {
  margin-block: var(--udexSpacer32);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  @media (width >= 980px) {
    margin-block: var(--udexSpacer40);
  }
}
