.top-tips {
  border-radius: var(--udexRadiusM);
  background: var(--udexColorBlue1);
  display: flex;
  flex-direction: column;
  gap: var(--udexSpacer16);
  padding: var(--udexSpacer24);

  /* h3 + (content + icon) */
  > div {
    order: 2;

    .default-content-wrapper {
      h3 {
        font-size: var(--udexTypographyHeadingMediumXXSFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        margin: 0 0 var(--udexSpacer16);
      }
    }
  }

  > .icon {
    align-items: center;
    background: var(--udexColorBlue2);
    border-radius: var(--udexRadiusM);
    display: flex;
    height: 32px;
    justify-content: center;
    order: 1;
    width: 32px;

    img {
      display: block;
      height: auto;
      width: 12px;
    }
  }
}

/* S */
@media (width >= 640px) {
  .top-tips {
    gap: var(--udexSpacer20);

    > .icon {
      height: 64px;
      width: 64px;

      img {
        width: 30px;
      }
    }
  }
}

/* M */
@media (width >= 980px) {
  .top-tips {
    > div {
      .default-content-wrapper {
        h3 {
          margin: 0 0 var(--udexSpacer8);
        }
      }
    }
  }
}
