/* stylelint-disable selector-class-pattern */
@import url('/aemedge/blocks/modal/modal.css');

.lightbox-modal__image-container {
  inset: 0;
  position: absolute;
  padding: var(--udexSpacer32);

  picture {
    height: 100%;
    width: 100%;
  }

  img {
    height: inherit;
    object-fit: contain;
    width: inherit;
  }
}

.lightbox {
  p {
    margin: 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-block-start: var(--udexSpacer20);

    &:not(:last-child) {
      margin-block-end: var(--udexSpacer20);
    }
  }
}

.lightbox-wrapper {
  margin-block: var(--udexSpacer24);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  @media (width >= 980px) {
    margin-block: var(--udexSpacer32);
  }

  @media (width >= 1280px) {
    margin-block: var(--udexSpacer40);
  }
}