.table {
  width: 100%;
  overflow-x: auto;
  background-color: var(--udexColorNeutralWhite);
}

.table table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--udexTypographyBodySFontSize);
}

.table table tr {
  box-sizing: border-box;
  border-bottom: var(--sapList_BorderWidth) solid var(--udexColorGrey4);
}

.table table tbody tr {
  height: 40px;

  &:hover{
    background-color: #eff4f9;
    border-top: 2px solid var(--udexColorBlue7);
    border-bottom: 2px solid var(--udexColorBlue7);
    }
  }

/* stylelint-disable no-descending-specificity */
.table table thead tr {
  height: 42px;
}

.table table thead tr th > h3{
  font-size: 16px;
  margin: 0;
}

.table table th {
  font-size: var(--udexTypographyNavigationMediumXLFontSize);
  font-weight: var(--udexTypographyFontWeightMedium);
  padding: var(--udexSpacer12) var(--udexSpacer16);
  color: var(--udexColorGrey9);
}

.table table td {
  font-size: var(--udexTypographyBodySFontSize);
  padding: var(--udexSpacer8) var(--udexSpacer16);
  color: var(--udexColorGrey8);
}

.table table th,
.table table td {
  text-align: left;
  line-height: var(--udexTypographyDisplayLineHeight);

  & p {
    margin: 0;
  }
}

/* no header variant */
.table.no-header table tbody tr {
  border-top: var(--sapList_BorderWidth) solid var(--udexColorGrey4);
}

/* striped variant */
.table.striped tbody tr:nth-child(odd) {
  background-color: var(--udexColorGrey4);
}

/* bordered variant */
.table.bordered table th,
.table.bordered table td {
  border: var(--sapList_BorderWidth) solid var(--udexColorGrey4);
}

.design-system {
  .table {
    overflow-x: scroll;

    span[color="grey-7"] {
      color: var(--udexColorGrey7) !important;
    }

    span[color="grey-8"] {
      color: var(--udexColorGrey8) !important;
    }

    span[color="grey-9"] {
      color: var(--udexColorGrey9) !important;
    }

    span[color="grey-10"] {
      color: var(--udexColorGrey10) !important;
    }

    span[color="red-7"] {
      color: var(--udexColorRed7) !important;
    }

    span[color="red-8"] {
      color: var(--udexColorRed8) !important;
    }

    span[color="red-9"] {
      color: var(--udexColorRed9) !important;
    }

    span[color="mango-8"] {
      color: var(--udexColorMango8) !important;
    }

    span[color="mango-9"] {
      color: var(--udexColorMango9) !important;
    }

    span[color="green-7"] {
      color: var(--udexColorGreen7) !important;
    }

    span[color="green-8"] {
      color: var(--udexColorGreen8) !important;
    }

    span[color="green-9"] {
      color: var(--udexColorGreen9) !important;
    }

    span[color="teal-8"] {
      color: var(--udexColorTeal8) !important;
    }

    span[color="teal-9"] {
      color: var(--udexColorTeal9) !important;
    }

    span[color="blue-8"] {
      color: var(--udexColorBlue8) !important;
    }

    span[color="blue-9"] {
      color: var(--udexColorBlue9) !important;
    }

    span[color="indigo-7"] {
      color: var(--udexColorIndigo7) !important;
    }

    span[color="indigo-8"] {
      color: var(--udexColorIndigo8) !important;
    }

    span[color="indigo-9"] {
      color: var(--udexColorIndigo9) !important;
    }

    span[color="pink-8"] {
      color: var(--udexColorPink8) !important;
    }

    span[color="pink-9"] {
      color: var(--udexColorPink9) !important;
    }

    span[color="raspberry-8"] {
      color: var(--udexColorRaspberry8) !important;
    }

    span[color="raspberry-9"] {
      color: var(--udexColorRaspberry9) !important;
    }

    table {
      width: 813px;

      th,
      td {
        line-height: var(--udexTypographyBodyLineHeight);
      }
    }

    &.header-border thead tr {
      border-top: var(--sapList_BorderWidth) solid var(--udexColorGrey4);
    }

    .badge-info {
      background-color: var(--udexColorBlue1);
      border: 1px solid var(--udexColorBlue7);
      border-radius: 6px;
      color: var(--udexColorBlue7);
      display: inline-block;
      font-size: var(--udexTypographyBodyXXSFontSize);
      line-height: var(--udexTypographyBodyLineHeight);
      padding: 2px 8px;
      text-align: center;
      text-transform: capitalize;
    }

    table tbody .icon {
      margin-right: var(--udexSpacer8);
      vertical-align: middle;
    }

    @media (width >=980px) {
      table {
        width: 100%;
      }
    }
  }
}

.table-wrapper {
  margin-block: var(--udexSpacer32);

  &:first-child {
    margin-block-start: 0;
  }

  &:last-child {
    margin-block-end: 0;
  }

  @media (width >= 980px) {
    margin-block: var(--udexSpacer40);
  }
}