.design-guidelines-container {
  background: var(--udexColorGrey1);
  border: 0 none !important;
  grid-column: 1 / -1 !important;
  margin-inline: calc(var(--udexGridMargins) * -1);
  padding-block: var(--udexSpacer40) !important;

  h2 {
    font-size: var(--udexTypographyHeadingMediumXSFontSize) !important;
    margin: 0 0 var(--udexSpacer16) !important;
    padding: 0 !important;
  }

  > div {
    margin-inline: calc(var(--udexGridMargins));
  }

  p {
    margin: 0;
    padding: 0;
  }

  p:has(+ ul) {
    margin-bottom: 2em;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: var(--udexSpacer20);
    list-style-type: none;
    padding: 0 !important;
    width: 100%;

    li {
      width: 100%;

      a {
        align-items: center;
        background: var(--udexColorNeutralWhite);
        border: 1px solid var(--sapTile_BorderColor);
        border-radius: var(--udexRadiusL);
        box-shadow: var(--sapContent_Shadow0);
        color: var(--udexColorGrey9);
        display: flex;
        line-height: 1;
        margin: 0;
        padding: calc(var(--udexSpacer16) - 1px);
        text-decoration: none;
        width: 100%;

        &:hover,
        &:focus {
          border-color: var(--udexColorBlue6);
          box-shadow: var(--sapContent_Shadow1);
        }

        &:active {
          border: 2px solid var(--udexColorBlue7);
          box-shadow: var(--sapContent_Shadow0);
          padding: calc(var(--udexSpacer16) - 2px)
        }

        .icon {
          margin-right: var(--udexSpacer24);
        }
      }
    }
  }
}

/* =S */
@media (width >= 640px) {
  .design-guidelines-container {
    padding-block: var(--udexSpacer48) !important;
  }
}

/* =M */
@media (width >= 980px) {
  .design-guidelines-container {
    padding-block: var(--udexSpacer48) !important;

    h2 {
      font-size: var(--udexTypographyHeadingMediumMFontSize) !important;
    }

    ul {
      align-items: start;
      flex-flow: row wrap;
      gap: var(--udexSpacer20);
      justify-content: space-between;

      li {
        width: calc(50% - (var(--udexSpacer48) / 2));
      }
    }
  }
}

/* =L */
@media (width >= 1280px) {
  .design-guidelines-container {
    padding-block: var(--udexSpacer56) !important;

    p:has(+ ul) {
      margin-bottom: 2.5em;
    }
  }
}

/* =XL */
@media (width >= 1600px) {
  .design-guidelines-container {
    grid-column: 1 / -1;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;

    > div {
      margin-inline: auto;
      max-width: var(--udexGridXLMinWidth);
      padding: 0 var(--udexGridMargins);
    }
  }
}
