/* Article paragraph spacing */
.article p {
  margin-top: 18px; /* no design, assumption */
  margin-bottom: 18px; /* no design, assumption */
}

@media (width >= 1600px) {
  .article {
    --udexGridMargins: 246px;
  }
}

main {
  column-gap: var(--udexGridGutters);
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin-inline: var(--udexGridMargins);

  & > * {
    grid-column: 1 / -1;
    transition-property: margin-inline-start, margin-inline-end, margin-inline,
    margin-block-end;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  & .hero-container,
  & .section.background-dark:not(.additional-reading),
  & .section.background-light:not(.additional-reading) {
    margin-inline: calc(-1 * var(--udexGridMargins));
  }

  & .section.background-dark:not(.hero-container, .additional-reading),
  & .section.background-light:not(.hero-container, .additional-reading) {
    padding-inline: var(--udexGridMargins);
  }

  > .hero-container + .section {
    padding-block-start: var(--udexSpacer56);
  }

  > .toc-container {
    margin-block-end: var(--udexSpacer40);
    position: sticky;
    top: calc(-1 * var(--udexSpacer32));
    z-index: 2;
  }

  @media (width >= 980px) {
    grid-template-rows: repeat(99, auto);

    & .section.background-dark:not(.hero-container, .additional-reading, [data-location='document-footer']),
    & .section.background-light:not(.hero-container, .additional-reading, [data-location='document-footer']) {
      margin-inline-end: unset;
      padding-inline-end: unset;
    }

    & > [data-location='sidebar'] {
      grid-column: 10 / -1;
      grid-row: 2 / -2;
    }

    > .hero-container + .section,
    > .toc-container + .section,
    > .hero-container ~ [data-location='sidebar'] {
      padding-block-start: var(--udexSpacer84);
    }

    &
      > :not(
        :is(
            .hero-container,
            .toc-container,
            [data-location='sidebar'],
            [data-location='document-footer']
          )
      ) {
      grid-column: 1 / 9;
      padding-block-end: 56px;
    }

    & > [data-location='document-footer'] {
      grid-column: 1 / -1;
      padding-block-end: 84px;
    }

    &:has(.toc-container) {
      & .section.background-dark:not(.hero-container, .additional-reading, [data-location='document-footer']),
      & .section.background-light:not(.hero-container, .additional-reading, [data-location='document-footer']) {
        margin-inline: unset;
        padding-inline: unset;
      }

      &
        > :not(
          :is(
              .hero-container,
              .toc-container,
              [data-location='sidebar'],
              [data-location='document-footer']
            )
        ) {
        grid-column: 4 / 10;
      }
    }

    & > .toc-container {
      grid-column: 1 / 4;
      grid-row: 2 / -2;
      margin-block-end: var(--udexSpacer56);
      position: static;
    }
  }

  [data-location="sidebar"] :is(.content-list, .collection) {
    ul .card {
      grid-column: 1 / -1;
    }
  }
}

/* image and video caption */
.article p > em,
.article .picture-caption > em {
  font-size: var(--udexTypographyBodyXSFontSize);
  font-style: normal;
  color: var(--udexColorGrey9);
}

.article :is(.lightbox, p .picture-container) {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  picture {
    display: block;

    img {
      display: block;
    }
  }

  .picture-caption {
    margin-top: var(--udexSpacer20);
    width: 0;
    min-width: 100%;

    em {
      display: inline-block;
    }
  }
}
