.design-system {
  main {
    & .section {
      &:not(:first-child) {
        grid-column: 1 / 13;
      }
    }

    ul {
      margin: 0;
      padding: 0 0 0 1rem;
    }
  }
}

/* =XS */
/* @media (width < 640px) {} */

/* =S */
/* @media (width >= 640px) {} */

/* =M */
/* @media (width >= 980px) {} */

/* =L */
/* @media (width >= 1280px) {} */

/* =XL */
/* @media (width >= 1600px) {} */
