.when-to-use-container {
  em {
    font-style: normal;
  }

  strong {
    font-weight: normal;
  }
}

.when-to-use-wrapper {
  margin-bottom: var(--udexSpacer40);
}

.when-to-use {
  display: flex;
  flex-direction: column;
  gap: var(--udexSpacer32);

  > div {
    width: 100%;

    p.dont,
    p.do {
      font-size: var(--udexTypographyHeadingMediumXXSFontSize);
      font-weight: var(--udexTypographyFontWeightMedium);
      line-height: var(--udexTypographyHeadingLineHeight);
      margin: 0;
      padding: 0;
    }

    p.do {
      color: var(--udexColorGreen7);
      margin-bottom: var(--udexSpacer8);
    }

    p.dont {
      color: var(--udexColorRed7);
      margin-bottom: var(--udexSpacer8);
    }
  }
}

/* XS */
@media (width < 640px) {
  .when-to-use-container {
    p,
    ul {
      font-size: var(--udexTypographyBodyXSFontSize);
      font-weight: var(--udexTypographyFontWeightRegular);
    }

    a {
      text-decoration: none;
    }
  }
}

/* S */
@media (width >= 640px) {
  .when-to-use-container {
    .default-content-wrapper {
      h2 {
        font-size: var(--udexTypographyHeadingMediumSFontSize);
      }
    }
  }

  .when-to-use {
    > div {
      /* Do + Don't headings */
      p.do,
      p.dont {
        font-size: var(--udexTypographyHeadingMediumXSFontSize);
      }
    }
  }
}

/* M */
@media (width >= 980px) {
  .when-to-use-wrapper {
    margin-bottom: var(--udexSpacer48);
  }

  .when-to-use-container {
    .default-content-wrapper {
      h2 {
        font-size: var(--udexTypographyHeadingMediumMFontSize);
      }
    }
  }

  .when-to-use {
    flex-direction: row;
    gap: var(--udexSpacer48);

    > div {
      p.do,
      p.dont {
        font-size: var(--udexTypographyHeadingMediumXXSFontSize);
      }
    }
  }
}

/* L */
@media (width >= 1280px) {
  .when-to-use-wrapper {
    margin-bottom: var(--udexSpacer56);
  }

  .when-to-use {
    > div {
      p.do,
      p.dont {
        font-size: var(--udexTypographyHeadingMediumXXSFontSize);
      }
    }
  }
}
