html:has(.web-component) {
  height: 100%;
}

.web-component {
  --headerHeight: var(--nav-height);

  display: grid !important;
  grid-template:
    'main'
    'footer' !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto !important;
  height: 100%;

  /* Master Header */
  > header {
    background: var(--udexColorGrey1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  /* Main Navigation, not part of the grid */
  > nav {
    z-index: 10;
  }

  /* Main Content */
  main {
    column-gap: var(--udexGridXSGutters);
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(var(--udexGridColumns), 1fr);
    grid-template-rows: min-content;
    height: fit-content;
    margin-top: var(--headerHeight);
    padding: 0 var(--udexGridMargins);
    position: relative;

    h2 {
      color: var(--sapContent_TitleColor);
      font-size: var(--udexTypographyHeadingMediumXSFontSize);
      font-weight: var(--udexTypographyFontWeightMedium);
      line-height: var(--udexTypographyHeadingLineHeight);
      margin: 0 0 var(--udexSpacer16);
      padding: 0;
    }

    /* Picture */
    /* stylelint-disable-next-line */
    p:has(> picture) {
      margin: 0 0 var(--udexSpacer16);
      padding: 0;

      /* Caption */
      /* stylelint-disable-next-line */
      & + p {
        font-size: var(--udexTypographyBodyXXSFontSize);
        margin: 0;
        padding: 0;

        em {
          display: block;
          font-style: inherit;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0 0 0 1rem;
    }

    img {
      display: block;
    }

    picture {
      display: block;
    }

    .section {
      border-bottom: 1px solid var(--udexCoreDividerLight);
      grid-column: span var(--udexGridColumns);

      &:first-child {
        border: 0 none;
        display: grid;
        grid-column: 1 / -1;
        grid-template-columns: subgrid;
        margin-inline: calc(var(--udexGridMargins) * -1);

        > div {
          grid-column: span var(--udexGridColumns);
          margin-inline: calc(var(--udexGridMargins));
        }
      }

      &:not(:first-child) {
        padding-block: var(--udexSpacer40);
      }

      &[data-position="last"] {
        border: 0 none;
      }
    }
  }

  /* Page Footer */
  > footer {
    bottom: 0;
    display: grid;
    column-gap: var(--udexGridXSGutters);
    grid-area: footer;
    grid-template-columns: repeat(var(--udexGridColumns), 1fr);
    grid-template-rows: min-content;
    padding: 0 var(--udexGridMargins);
    position: relative;
    width: 100%;

    .design-system-footer {
      grid-column: span var(--udexGridColumns);
      padding-block: var(--udexSpacer16);
    }
  }

  .block.columns.columns-2-cols {
    > div {
      grid-gap: var(--udexSpacer16) var(--udexSpacer48);
      display: grid;
      align-items: start;

      p {
        margin: 0;
      }

      .embed-wrapper > p > p:last-child {
        margin-top: var(--udexSpacer16);
      }

      ul {
        padding-inline-start: 1.5rem;
      }

      > div {
        width: 100%;
        word-wrap: anywhere;
      }
    }

    > div:not(:last-child) {
      margin-bottom: var(--udexSpacer32);
    }
  }
}

/* XS */
@media (width < 640px) {
  .web-component {
    main {
      p,
      li {
        font-size: var(--udexTypographyBodyXSFontSize);
        font-weight: var(--udexTypographyFontWeightRegular);
      }

      a {
        text-decoration: none;
      }
    }
  }
}

/* S */
@media (width >= 640px) {
  .web-component {
    main {
      column-gap: var(--udexGridSGutters);

      h2 {
        font-size: var(--udexTypographyHeadingMediumSFontSize);
      }

      p:has(> picture) {
        /* Caption */
        & + p {
          font-size: var(--udexTypographyBodyXSFontSize);
        }
      }
    }
  }
}

/* M */
@media (width >= 980px) {
  .web-component {
    main {
      column-gap: var(--udexGridMGutters);

      h2 {
        font-size: var(--udexTypographyHeadingMediumMFontSize);
      }

      .section {
        &:first-child {
          > div {
            grid-column: 2 / 13;
            margin-inline: unset;
          }
        }

        .columns.columns-2-cols > div {
          grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &:not(:first-child) {
          grid-column: 2 / 13;
          padding-block: var(--udexSpacer48);
        }
      }
    }

    /* Page Footer */
    > footer {
      column-gap: var(--udexGridMGutters);

      .design-system-footer {
        grid-column: 2 / 13;
      }
    }
  }
}

/* L */
@media (width >= 1280px) {
  .web-component {
    main {
      margin-top: calc(var(--headerHeight) + var(--udexSpacer56));

      .section {
        &:not(:first-child) {
          grid-column: 2 / 11;
          padding-block: var(--udexSpacer56);
        }

        &.design-system-toc-container {
          grid-column: 11 / 13; /* Move TOC always to end of the column */
          grid-row: 2; /* Move TOC always to second row */
          border: 0 none;
          padding: 0;
          position: sticky;
          display: block;
          right: var(--udexGridMargins);
          top: 10%;
          z-index: 1;
        }
      }
    }
  }
}

/**
 * =ANATOMY
 */
/* stylelint-disable no-duplicate-selectors */
.web-component {
  main {
    :is(#anatomy) {
      /* Picture */
      + p:has(> picture) {
        & img {
          border-radius: var(--udexRadiusM);
        }
      }
    }
  }
}
