/* TODO: WIP */
html:has(.web-component) {
  height: 100%;
}

.web-component {
  --headerHeight: 60px;

  grid-template:
    'content' 1fr
    'footer' auto
    / 1fr;
  height: 100%;
  padding-top: var(--headerHeight);

  /* Master Header */
  > header {
    /* grid-area: header; */
    background: var(--udexColorGrey1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }

  /* Main Navigation, not part of the grid */
  > nav {
    z-index: 10;
  }

  /* Main Content */
  main {
    display: flex;
    flex-direction: column;
    grid-area: content;

    .default-content-wrapper {
      h2 {
        color: var(--sapContent_TitleColor);
        font-size: var(--udexTypographyHeadingMediumXSFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--udexTypographyHeadingLineHeight);
        margin: 0 0 var(--udexSpacer16);
        padding: 0;
      }
    }

    > :first-child {
      > :first-child {
        border: 0 none !important;
        padding: unset;
      }
    }

    /* Sections */
    > :not(.hero-container) {
      margin-block-end: var(--udexSpacer40);

      > :first-child {
        border-top: 1px solid var(--udexCoreDividerLight);
        padding-block-start: var(--udexSpacer40);
      }

      & > * {
        margin-inline: var(--udexGridMargins);
      }
    }
  }

  /* Page Footer */
  > footer {
    grid-area: footer;
  }

  ul {
    margin: 0;
    padding: 0 0 0 1rem;
  }

  img {
    display: block;
  }

  picture {
    display: block;
  }
}

/* XS */
@media (width < 640px) {
  .web-component {
    main {
      p,
      li {
        font-size: var(--udexTypographyBodyXSFontSize);
        font-weight: var(--udexTypographyFontWeightRegular);
      }

      a {
        text-decoration: none;
      }
    }
  }
}

/* S */
@media (width >= 640px) {
  .web-component {
    main {
      .default-content-wrapper {
        h2 {
          font-size: var(--udexTypographyHeadingMediumSFontSize);
        }
      }

      /* Sections */
      > :not(.hero-container) {
        margin-block-end: var(--udexSpacer48);

        > :first-child {
          padding-block-start: var(--udexSpacer48);
        }
      }
    }
  }
}

/* M */
@media (width >= 980px) {
  .web-component {
    display: grid;

    main {
      margin: 0 0 0 var(--udexGridMargins);

      .default-content-wrapper {
        h2 {
          font-size: var(--udexTypographyHeadingMediumMFontSize);
        }
      }

      /* Sections */
      > :not(.hero-container) {
        padding-inline: var(--udexGridMargins);

        /* stylelint-disable */
        /* TODO: CH grid settings also valid for DS? */
        /* padding-inline: var(--udexGridGutters) var(--udexGridMargins); */
        /* stylelint-enable */

        & > * {
          margin-inline: unset;
        }
      }
    }

    /* Page Footer */
    > footer {
      /* TODO: Should stay 72px? */
      margin: 0 0 0 var(--udexGridMMargins);
    }
  }
}

/* L */
@media (width >= 1280px) {
  .web-component {
    main {
      /* Sections */
      > :not(.hero-container) {
        margin-block-end: var(--udexSpacer56);

        > :first-child {
          padding-block-start: var(--udexSpacer56);
        }
      }
    }
  }
}

/* XL */
@media (width >= 1600px) {
  .web-component {
    /* stylelint-disable */
    /* TODO: This breaks layout */
    /* --udexGridMargins: 246px; */
    /* stylelint-enable */
  }
}

/**
 * =ANATOMY
 */
/* stylelint-disable no-duplicate-selectors */
.web-component {
  :is(#anatomy) {
    /* Picture */
    + p:has(> picture) {
      margin: 0 0 var(--udexSpacer16);
      padding: 0;

      & img {
        border-radius: var(--udexRadiusM);
      }

      /* Caption */
      & + p {
        font-size: var(--udexTypographyBodyXXSFontSize);
        margin: 0;
        padding: 0;
      }
    }

    ~ ol {
      display: flex;
      flex-direction: column;
      gap: var(--udexSpacer16);
      margin: var(--udexSpacer32) 0 0;
      padding: 0 0 0 1rem;

      li {
        margin: 0;
        padding: 0;

        &::marker {
          font-weight: var(--udexTypographyFontWeightBold);
        }

        strong {
          font-weight: var(--udexTypographyFontWeightBold);
        }
      }
    }
  }
}

/* XS */
@media (width < 640px) {
  .web-component {
    :is(#anatomy) {
      ~ ol {
        em {
          display: none;
        }
      }
    }
  }
}

/* S */
@media (width >= 640px) {
  .web-component {
    --anatomy-requirements-with: 110px;

    :is(#anatomy) {
      + p:has(> picture) {
        /* Caption */
        & + p {
          font-size: var(--udexTypographyBodyXSFontSize);
        }
      }

      ~ ol {
        margin-top: var(--udexSpacer16);
        margin-left: var(--anatomy-requirements-with);

        li {
          position: relative;
        }

        em[data-requirement-status] {
          border: 1px solid;
          border-radius: var(--sapButton_BorderCornerRadius);
          color: var(--udexColorNeutralWhite);
          display: block;
          font-size: var(--sapFontSmallSize);
          font-style: normal;
          font-weight: var(--udexTypographyFontWeightBold);
          left: calc((var(--anatomy-requirements-with) + 1rem) * -1);
          padding: 3px 4px;
          position: absolute;
          text-shadow: var(--sapContent_ContrastTextShadow);
          top: 50%;
          transform: translateY(-50%);
        }

        em[data-requirement-status="mandatory"] {
          border-color: var(--sapIndicationColor_3_Background);
          background: var(--sapIndicationColor_3_Background);
        }

        em[data-requirement-status="optional"] {
          border-color: var(--sapIndicationColor_4_Background);
          background: var(--sapIndicationColor_4_Background);
        }
      }
    }
  }
}
