.columns-wrapper {
  & .columns {
    & > div {
      display: flex;
      flex-direction: column;

      & > .columns-img-col {
        order: 0;

        & img {
          display: block;
        }
      }

      & > div {
        order: 1;
      }

      & p:has(> picture) {
        & + p {
          font-size: var(--udexTypographyBodySFontSize);
        }
      }
    }
  }

  /* Desktop view (--udexGridMMinWidth) */
  @media (width >= 980px) {
    & .columns {
      & > div {
        flex-direction: unset;
        gap: 32px;

        & > div {
          flex: 1;
          order: unset;
        }
      }
    }
  }
}

.design-system {
  & .columns.blue-links {
    --sapLinkColorBlue: #0064D9;

    & ul {
      padding: 0;

      & li {
        list-style-type: none;
      }
    }

    & a {
      color: var(--sapLinkColorBlue);
      text-decoration: none;
    }
  }
}

/**
 * =ADVANTAGES CARDS
 */
/* stylelint-disable-next-line */
.columns-wrapper {
  /* stylelint-disable-next-line */
  &.columns-advantages-cards-wrapper {
    margin-top: 24px !important;
  }

  /* stylelint-disable-next-line */
  & .columns {
    &.advantages-cards {
      & > div {
        flex-flow: row wrap;
        flex-grow: 0;
        gap: 48px;

        & > div {
          flex-basis: 100%;
          flex-grow: 0;
        }
      }

      & h2 {
        color: var(--sapIndication_9b);
        font-size: var(--udexTypographyHeadingBoldXXXLFontSize);
        font-weight: var(--udexTypographyFontWeightBold);
      }

      & div p:has(.icon) {
        margin-bottom: 1.25rem;
        margin-top: 0;
      }

      & div p:first-child:has(.icon) + h2,
      & h3 {
        color: var(--udexCoreHeadingDark);
        font-size: var(--udexTypographyHeadingBoldXXSFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: 22px;
        margin-bottom: 0.5rem;
        margin-top: 1rem;
      }

      /* stylelint-disable-next-line no-descending-specificity */
      & :is(h2) + p {
        margin-block: 0;
      }

      & .icon {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

/* =S */
@media (width >= 640px) {
  .columns-wrapper {
    .columns {
      &.advantages-cards {
        & > div {
          & > div {
            flex-basis: calc((100% - 96px) / 3);
          }
        }
      }
    }
  }
}

/* =M */
@media (width >= 980px) {
  .columns-wrapper {
    .columns {
      &.advantages-cards {
        & .icon {
          height: 4rem;
          width: 4rem;
        }

        & > div {
          align-items: flex-start;
          flex-direction: unset;
          gap: 48px;
        }
      }
    }
  }
}

/* =L */
@media (width >= 1280px) {
  .columns-wrapper .columns.advantages-cards > div > div {
    flex-basis: calc((100% - 192px) / 5);
  }
}

/* =XL */
@media (width >= 1600px) {
  .columns-wrapper .columns.advantages-cards > div {
    gap: unset;
    justify-content: space-between;
  }
}
