.collection {
    display: grid;
    gap: var(--udexSpacer16);

    & p {
        margin: 0;
        text-wrap: wrap;
        white-space: wrap;

        &:not(:last-child) {
            margin-block-end: var(--udexSpacer4);
        }
    }

    & em {
        font-size: var(--udexTypographyBodyXSFontSize);
        line-height: var(--udexTypographyBodyLineHeight);
        color: var(--udexColorGrey7);
    }

    & .eyebrow {
        font-size: var(--udexTypographyEyebrowSFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        letter-spacing: 0.03em;
        line-height: var(--udexTypographyEyebrowLineHeight);
        text-transform: uppercase;
    }

    & .button-container .button:is(a):not(.primary, .secondary) {
        text-decoration: underline;
        text-wrap: wrap;
        white-space: wrap;

        &::after {
            display: none;
        }
    }
}

.collection-wrapper {
    margin-block: var(--udexSpacer32);

    &:first-child {
        margin-block-start: 0;
    }

    &:last-child {
        margin-block-end: 0;
    }

    @media (width >= 980px) {
        margin-block: var(--udexSpacer40);
    }
}

[data-location="sidebar"] .collection-wrapper {
    margin-block: var(--udexSpacer40);

    &:first-child {
        margin-block-start: 0;
    }

    &:last-child {
        margin-block-end: 0;
    }

    @media (width >= 980px) {
        margin-block-end: var(--udexSpacer56);
    }

    @media (width >= 1280px) {
        margin-block-end: var(--udexSpacer64);
    }
}