.filter-container {
  display: inline-block;

  .filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #0070f2;
    border: 1px solid #0070f2;
    color: white;
    border-radius: 8px;
    width: 108px;
    height: 36px;
    font-size: var(--udexTypographyBodySFontSize);
    font-weight: 500;
    cursor: pointer;
    font-family: var(--sapFontFamily);

    &.expanded {
      border: 1px solid var(--udexColorBlue8);
      border-radius: 8px;
    }

    .icon {
      width: 18px;
      height: 18px;
      margin-right: 8px;
      display: none;
    }
  }

  .filter-menu {
    background: var(--udexColorNeutralWhite);
    box-shadow: var(--sapContent_Shadow2);
    padding: var(--udexSpacer24);
    display: none;
    width: 100vw;  
    overflow-y: scroll;

    &.open {
      display: block;
    }

    .items-accordion {
      width: 100%;
      border-bottom: 1px solid var(--udexColorGrey3);
      margin-top: 48px;

      button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        font-size: var(--udexTypographyBodyMFontSize);
        padding: 0 0 16px 16px;
        cursor: pointer;

        span {
          height: 16px;
          width: 16px;
          margin-right: 24px;
        }

        span.icon-slim-arrow-right {
          display: none;
        }
      }
    }

    .items-container {
      display: flex;
      flex-wrap: wrap;
      gap: 4px 8px;
      height: 497px;

      .filter-item {
        width: 100%;
        padding: var(--udexSpacer16);

        label {
          display: block;
          width: 100%;
          padding-bottom: 4px;
          border-bottom: 1px solid var(--udexColorGrey2);
          font-weight: var(--udexTypographyFontWeightMedium);
          font-size: var(--udexTypographyBodyXSFontSize);
        }

        .item-options {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
          padding-top: 8px;
          font-size: var(--udexTypographyBodyXSFontSize);
          font-weight: var(--udexTypographyFontWeightRegular);
          cursor: pointer;

          span {
            border: 1px solid var(--udexColorGrey4);
            border-radius: 6px;
            padding: 2px 8px;
            user-select: none;
            /* stylelint-disable-next-line property-no-vendor-prefix */
            -webkit-user-select: none;

            &.selected {
              color: var(--udexColorBlue7);
              border-color: var(--udexColorBlue7);
              box-shadow: 0 -1px 0 0 var(--udexColorBlue7) inset;
            }
          }
        }
      }
    }

    .filter-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0 8px;
      padding: var(--udexSpacer24);
      text-align: right;
      border-top: 1px solid var(--udexColorGrey3);

      button {
        background-color: transparent;
        border: none;
        font-size: var(--udexTypographyBodySFontSize);
        font-weight: 500;
        font-family: var(--sapFontFamily);
        cursor: pointer;
      }

      .apply-filter-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--udexColorBlue7);
        border: none;
        color: var(--udexColorNeutralWhite);
        padding: 8px 12px;
        border-radius: 8px;

        .results-count {
          width: 16px;
          height: 16px;
          background-color: var(--udexColorRed7);
          border-radius: 50%;
          margin-left: 4px;
          font-size: var(--udexTypographyBodyXSFontSize);

          &.hide {
            display: none;
          }
        }
      }

      .clear-filter-btn,
      .reset-filter-btn {
        color: var(--udexColorBlue10);
      }

      .close-menu-btn {
        .icon {
          width: 16px;
          height: 16px;
        }
      }

      .reset-filter-btn {
        display: none;
      }
    }
  }
}



/* xs - s */
@media (width >= 375px) {
  .filter-container {
    .filter-menu {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0 !important;
      z-index: 99;

      .items-container {
        margin-top: 16px;

        .filter-item {
          max-width: 100%;
          padding: 8px 0;
        }
      }

      .filter-actions {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 16px 0 8px;
        justify-content: flex-start;
        border: none;

        .close-menu-btn {
          position: absolute;
          right: 60px;

          .icon {
            width: 16px;
            height: 16px;
          }
        }

        .clear-filter-btn {
          display: none;
        }

        .reset-filter-btn {
          display: block;
        }
      }
    }
    
  }
}

/* M */
@media (width >= 980px) {
  .filter-container {
    padding: 16px, 24px, 0;

    .filter-menu {
      width: 50%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 50% !important;
      z-index: 99;

      .items-container {
        margin-top: 16px;

        .filter-item {
          max-width: 100%;
          padding: 8px 0;
        }
      }

      .filter-actions {
        position: absolute;
        top: 0;
        padding: 16px 0 8px;
        justify-content: flex-start;
        border: none;


        .close-menu-btn {
          position: absolute;
          right: 60px;
        }

        .clear-filter-btn {
          display: none;
        }

        .reset-filter-btn {
          display: block;
        }
      }
    }
  }
  
}

@media (width >= 1280px) {
  .filter-container {
    position: relative;
    top: 5px;

    & .filter-btn {
      border: none;
      background-color: transparent;
      color: var(--udexColorBlue10);
      font-size: var(--udexTypographyBodySFontSize);
      font-weight: 500;

      & .icon {
        display: block;
      }
    }

    & .filter-menu {
      width: 909px;
      height: 476px;
      position: absolute;
      left: -446px !important;
      z-index: 1;
      margin-top: 42px;
      padding: 32px 32px 48px 56px;
      overflow-y: unset;

      & .items-accordion {
        display: none;
      }

      & .items-container {
        display: flex;
        flex-wrap: wrap;
        height: 340px;
        margin-top: 0;

        & .filter-item {
          max-width: 392px;
          padding: 0;
          
        }
      }

      & button {
        display: none;
      }

      & .filter-actions {
        position: relative;
        justify-content: flex-end;
        padding: var(--udexSpacer24);
        border-top: 1px solid var(--udexColorGrey3);
       

        .clear-filter-btn {
          display: block;
        }

        .reset-filter-btn {
          display: none;
        }
      }
    }
  }
}

@media (width >= 1920px) {
  .filter-container {
    & .filter-btn{
      border: 1px solid #0040B0;
      height: 42px;
    }

    & .filter-menu {
      width: 1182px;
      padding: 32px 75px;

      & .items-container{
          column-gap: 24px;

        & .filter-item {
          max-width: 492px;
          padding: 0;
          
        }
      }
    }
  }
}
