/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */

header {
  --nav-active-marker-color: var(--udexColorBlue7);
  --nav-active-tab-underline-radius: 2px;
  --nav-active-tab-underline-height: 3px;
  --nav-box-shadow-l: 0 10px 30px 0 #2235484d;
  --nav-box-shadow-s: 0 2px 4px 0 #22354833;
  --nav-header-margin: var(--udexGridMargins);
  --nav-line-separator-color: var(--udexColorGrey2);
  --nav-links-font-size: var(--udexTypographyNavigationRegularMFontSize);
  --nav-links-font-weight: var(--udexTypographyFontWeightRegular);
  --nav-links-line-height: var(--udexTypographyNavigationLineHeight);
  --nav-tab-list-spacing: var(--udexSpacer24);
  --nav-text-color: var(--udexColorGrey8);
  --nav-grid-width: min(var(--grid-width), 1600px);
  --nav-column-width: calc((var(--nav-grid-width) - (11 * var(--udexGridGutters))) / 12);
  --nav-dropdown-desktop-inline-spacing: 52px;
  --nav-dropdown-desktop-block-spacing: 32px;
  --nav-dropdown-item-width: calc((2 * var(--udexGridGutters)) + (3 * var(--nav-column-width)));
  --nav-list-item-padding: var(--udexSpacer16) var(--udexSpacer12) var(--udexSpacer16) var(--udexSpacer8);
  --nav-tab-padding: var(--udexSpacer16) var(--udexSpacer12) var(--udexSpacer16) var(--udexSpacer8);

  z-index: 100;

  & ul, p {
    margin: 0;
    padding: 0;
  }

  & ul {
    list-style: none;
  }

  & li :is(a, .text) {
    color: var(--nav-text-color);
    cursor: pointer;
    display: flex;
    flex-basis: 100%;
    font-size: var(--nav-links-font-size);
    font-weight: var(--nav-links-font-weight);
    line-height: var(--nav-links-line-height);
    justify-content: space-between;
    text-decoration: none;
    text-wrap: wrap;
  }

  & .nav__tab-list {
    height: 100%;

    & li :is(a, .text):hover {
      text-decoration: underline;
    }
  }

  & .nav__separator {
    display: none;
  }

  & .nav__list-parent__dropdown {
    display: contents;

    & .nav__list-parent__dropdown__heading {
      display: none;
    }
  }

  & .nav__list-parent {
    & :is(a, .text) {
      padding: var(--nav-list-item-padding);
    }

    & .text::after {
      background-color: currentcolor;
      box-sizing: border-box;
      content: "";
      height: 1rem;
      margin-inline-start: var(--udexSpacer4);
      mask: url("/aemedge/icons/slim-arrow-right.svg") center no-repeat;
      transition: transform .3s ease;
      transform: rotate(0deg);
      width: 1rem;
    }

    & ul, & .nav__list-parent__dropdown {
      display: none;
      width: 100%;
    }

    &[aria-expanded="true"] {
    flex-direction: column;

    & li {
      width: 100%;
    }

    & > ul,
    & > .nav__list-parent__dropdown,
    & > .nav__list-parent__dropdown > ul {
      display: unset;
    }

    & > .text {
      justify-content: center;
      flex-direction: row-reverse;
      font-weight: var(--udexTypographyFontWeightBold);
      width: 100%;

      &::after {
        left: 0;
        position: absolute;
        transform: rotate(180deg);
      }
    }
  }
  }

  & .nav__tab {
    align-items: center;
    display: flex;
    position: relative;

    & > :is(a, .text) {
      padding: var(--nav-tab-padding);
    }
  }

  /* Hide parent link item text when submenu is open on mobile  */
  &, #nav-primary .nav-explore {
    & .nav__list-parent:has(.nav__list-parent[aria-expanded='true']) {
      & > .text {
        display: none;
      }
    }
  }

  /* Hide sections when explore is open on mobile  */
  & .nav-bar:has(.nav-explore .nav__list-parent[aria-expanded='true']) {
    .nav-sections {
      display: none;
    }
  }

  /* Hide sibling submenus when a submenu is open on mobile */
  & ul:has(> .nav__list-parent[aria-expanded='true']) {
    & > li:not(.nav__list-parent[aria-expanded='true']) {
      display: none;
    }
  }

  & #nav-primary {
    align-items: center;
    background: var(--udexColorGrey1);
    display: flex;
    height: var(--nav-primary-height);
    justify-content: space-between;
    inset: 0;
    position: relative;
    text-wrap: nowrap;
    z-index: 100;

    & .nav-actions, .nav-tools {
      align-items: center;
      display: inline-flex;
      gap: var(--udexSpacer8);

      & .button {
        background-color: unset;
        border: 0;
        border-radius: unset;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-flex;
        margin: unset;
        padding: 7px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          filter: brightness(0) saturate(100%) invert(27%) sepia(62%) saturate(4344%) hue-rotate(201deg) brightness(99%) contrast(105%);
        }
      }

      & .icon {
        height: 18px;
        width: 18px;
      }
    }

    & .nav-actions {
      justify-content: flex-end;
      flex-grow: 1;
      padding-inline-end: var(--nav-header-margin);

      & .burger-menu {
        position: relative;
      }

      & > :not(.burger-menu) {
        display: none;
      }

      & .separator {
        background: var(--udexColorGrey3);
        border-radius: 2px;
        flex-shrink: 0;
        height: 32px;
        position: relative;
        width: 1px;
        z-index: 20;
      }
    }

    & .nav-brand {
      display: inline-flex;
      margin-inline: var(--nav-header-margin) var(--nav-tab-list-spacing);

      & .default-content-wrapper {
        align-items: center;
        display: inline-flex;
        gap: var(--udexSpacer16);
      }

      & .icon {
        display: block;
        height: 2rem;
        width: 4rem;
      }

      & .site-label {
        font-size: var(--udexTypographyNavigationBoldXLFontSize);
        font-weight: var(--udexTypographyFontWeightBold);
        line-height: var(--nav-links-line-height);
        white-space: nowrap;
      }
    }

    & .nav-bar {
      display: flex;
      flex-direction: column;
      overflow: auto;
      position: absolute;
      transform: translateX(100%);
      visibility: hidden;

      & .nav-sections {
        padding: var(--nav-tab-list-spacing);

        & :is(a, .text) {
          border-bottom: 1px solid var(--nav-line-separator-color);
        }

        & .search-bar {
          align-items: flex-start;
          align-self: stretch;
          display: flex;
          flex-flow: column nowrap;
          flex-shrink: 0;
          justify-content: center;
          margin-block-end: var(--udexSpacer16);
          overflow: hidden;
          position: relative;

          & > .text-box {
            align-items: center;
            align-self: stretch;
            background: var(--udexCoreSurfaceLight);
            border: 1px solid var(--udexCoreBorderDefault);
            border-radius: var(--udexRadiusXXL);
            display: flex;
            flex-shrink: 0;
            flex-wrap: nowrap;
            gap: 8px;
            padding: 9px 12px;
            position: relative;
            z-index: 27;

            & > .label-text {
              color: var(--udexColorGrey7);
              flex: 1 0 auto;
              height: var(--udexSpacer24);
              line-height: 24px;
              position: relative;
              text-align: center;
              white-space: nowrap;
              z-index: 28;
            }

            & > .voice-search {
              background: var(--udexColorNeutralWhite0);
              flex-shrink: 0;
              height: 18px;
              position: relative;
              width: 18px;
              z-index: 29;

              & > .microphone {
                aspect-ratio: 1;
                background: url('/aemedge/icons/bell-6.svg') no-repeat center;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
              }
            }

            & > .search {
              aspect-ratio: 1;
              background: var(--udexColorNeutralWhite0);
              flex-shrink: 0;
              position: relative;
              width: 18px;

              & > .search-e {
                aspect-ratio: 1;
                background: url('/aemedge/icons/search.svg') no-repeat center;
                position: absolute;
                width: 100%;
              }
            }
          }

          & > .search-box {
            background: transparent;
            border: none;
            flex-shrink: 0;
            margin-left: var(--udexSpacer16);
            outline: none;
            padding: var(--udexSpacer24) var(--udexSpacer24) 0;
            position: absolute;
            width: 75%;
            z-index: 30;
          }
        }
      }
    }

    & .nav-explore {
      height: auto;

      & .nav__tab > :is(a, .text) {
        align-items: center;
        background-color: var(--udexColorBlue7);
        color: var(--udexColorNeutralWhite);
        display: flex;
        font-size: var(--udexTypographyNavigationMediumMFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        padding: var(--udexSpacer24);

        &:hover {
          background-color: var(--udexColorBlue9);
          text-decoration: none;
        }

        &:active {
          background-color: var(--udexColorNeutralWhite);
          border: 1px solid var(--udexColorBlue9);
          color: var(--udexColorBlue9);
          padding: 23px;
        }
      }

      &:has(.nav__tab[aria-expanded="true"]) {
        padding: var(--nav-tab-list-spacing);

        li :is(a, .text) {
          border-bottom: 1px solid var(--nav-line-separator-color);
        }
      }

      & .nav__tab[aria-expanded="true"] > :is(a, .text) {
        background: unset;
        color: unset;
        font-size: var(--udexTypographyNavigationMediumMFontSize);
        font-weight: var(--udexTypographyFontWeightBold);
        padding: var(--nav-list-item-padding);

        &:hover {
          background: unset;
          text-decoration: underline;
        }

        &:active {
          background: unset;
          border: unset;
          color: unset;
        }
      }
    }

    &[aria-expanded='true'] {
      & .nav-actions {
        padding-inline-end: var(--udexSpacer24);
      }

      & .nav-actions > :not(.burger-menu) {
        display: unset;
      }

      & .nav-actions .burger-menu {
        & .icon {
          filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%);
        }

        &::after {
          background: var(--nav-active-marker-color);
          border-top-left-radius: var(--nav-active-tab-underline-radius);
          border-top-right-radius: var(--nav-active-tab-underline-radius);
          bottom: calc((-1 * ((var(--nav-primary-height) - 32px) / 2)));
          content: '';
          display: block;
          height: var(--nav-active-tab-underline-height);
          position: absolute;
          width: 100%;
        }
      }

      & .nav-brand {
        display: none;
      }

      & .nav-bar {
        background: var(--sapNeutralBackground);
        height: calc(100vh - var(--nav-primary-height));
        transform: translateX(0);
        top: var(--nav-primary-height);
        transition: transform 0.3s ease-in-out;
        visibility: visible;
        width: 100%;
      }

      & .nav-tools {
        display: none;
      }
    }

    @media (width >= 980px) {
      &, &[aria-expanded='true'] {
        & .nav-actions {
          display: none;
        }

        & .nav-brand {
          display: inline-flex;
        }

        & .nav-bar {
          align-items: center;
          background: none;
          padding-block-start: 0;
          height: 100%;
          flex: 1;
          flex-direction: row;
          gap: var(--nav-tab-list-spacing);
          margin-inline-end: var(--nav-header-margin);
          overflow: unset;
          position: static;
          top: unset;
          transform: translateX(0);
          visibility: visible;
          width: auto;

          & .search-bar {
            display: none;
          }

          & .nav-tools > .default-content-wrapper {
            display: inline-flex;
            height: 100%;
            gap: var(--udexSpacer8);
            margin: 0;

            & > ul {
              align-items: center;
              display: inline-flex;
              gap: var(--nav-tab-list-spacing);
            }
          }

          & .nav-sections {
            padding: 0;
          }

          & .nav-sections,
          & .nav-explore:has(.nav__tab[aria-expanded="true"]) {
            :is(a, .text) {
              border-bottom: unset;
            }
          }

          &:has(.nav-explore .nav__list-parent[aria-expanded='true']) {
            .nav-sections {
              display: unset;
            }
          }
        }

        & .nav-explore {
          height: 100%;
          justify-content: flex-end;
          margin-inline-start: auto;

          &:has(.nav__tab[aria-expanded="true"]) {
            padding: 0;
          }

          & .nav__tab {
            justify-content: flex-end;

            & > ul, > .nav__list-parent__dropdown {
              margin-inline-end: calc(-1 * var(--udexGridMargins));
              padding-inline: var(--udexGridMargins);
              max-width: 100vw;
              width: 100vw;
            }

            & > div.nav__list-parent__dropdown > ul {
              width: 100%;
              max-width: none;

              > li {
                flex-grow: 1;
              }
            }

            & > :is(a, .text) {
              background: none;
              color: unset;
              font-weight: var(--nav-links-font-weight);
              padding: var(--nav-tab-padding);

              &:active {
                border: none;
                padding: 0;
              }
            }
          }
        }

        & .nav-tools {
          display: unset;

          &:empty {
            display: none;
          }
        }

        & .nav__tab {
          & > .text::after {
            display: none;
          }
        }
      }
    }
  }

  @media (width >= 980px) {
    &, & #nav-primary .nav-explore {
      --nav-list-item-padding: var(--udexSpacer8) var(--udexSpacer12) var(--udexSpacer8) var(--udexSpacer8);
      --nav-tab-padding: var(--udexSpacer12) 0;

      & .nav__list-parent__dropdown {
        flex-direction: column;
        gap: var(--udexSpacer32);

        & .nav__list-parent__dropdown__heading {
          display: block;
          font-size: var(--udexTypographyHeadingMediumMFontSize);
          font-weight: var(--udexTypographyFontWeightMedium);
          line-height: var(--udexTypographyHeadingLineHeight);
          text-align: center;
        }
      }

      & .nav__list-parent {
        & .text {
          align-items: center;
          justify-content: space-between;
        }

        & ul {
          border-block-start: 1px solid var(--nav-line-separator-color);
          display: flex;
          flex-direction: column;
          flex-grow: 0;
          flex-shrink: 0;
        }

        & li {
          width: var(--nav-dropdown-item-width);
        }

        &[aria-expanded='true'] {
          flex-direction: unset;

          & > ul, & > .nav__list-parent__dropdown {
            display: flex;
            opacity: 1;
            pointer-events: unset;
            transform: translateY(0);
          }

          & .text {
            flex-direction: unset;

            &::after {
              position: unset;
              left: unset;
            }
          }
        }
      }

      & .nav__tab {
        height: 100%;
        justify-content: flex-start;

        & > ul {
          left: calc(-1 * var(--nav-dropdown-desktop-inline-spacing));
        }

        & > .text::after {
          transform: rotate(90deg);
        }

        & .nav__list-parent {
          flex-direction: column;

          & ul {
            padding-block-start: var(--udexSpacer12);
            margin: 0;
          }

          & .text {
            font-weight: var(--udexTypographyFontWeightBold);
            pointer-events: none;

            &::after {
              display: none;
            }
          }
        }

        &[aria-expanded="true"] {
          & > .text {
            font-weight: unset;
            color: var(--udexColorBlue9);

            &::after {
              transform: rotate(-90deg);
            }
          }

          &::before {
            background: var(--nav-active-marker-color);
            border-top-left-radius: var(--nav-active-tab-underline-radius);
            border-top-right-radius: var(--nav-active-tab-underline-radius);
            bottom: 0;
            content: '';
            display: block;
            height: var(--nav-active-tab-underline-height);
            position: absolute;
            width: 100%;
          }
        }

        & > ul, & > .nav__list-parent__dropdown {
          background: var(--udexColorNeutralWhite);
          box-shadow: var(--nav-box-shadow-l);
          opacity: 0;
          padding: var(--nav-dropdown-desktop-block-spacing) var(--nav-dropdown-desktop-inline-spacing) var(--nav-dropdown-desktop-inline-spacing);
          pointer-events: none;
          position: absolute;
          transition: opacity 0.3s ease-out, transform 0.3s ease-out;
          top: 100%;
          transform: translateY(-15px);
          width: max-content;
        }

        & > ul, & > .nav__list-parent__dropdown > ul {
          border-block-start: none;
        }

        &.nav__list--2-column, &.nav__list--3-column, &.nav__list--4-column {
          & > ul, > .nav__list-parent__dropdown > ul {
            flex-flow: row wrap;
            gap: var(--nav-dropdown-desktop-block-spacing) var(--nav-dropdown-desktop-inline-spacing);
          }
        }

        &.nav__list--3-column {
          & > ul, > .nav__list-parent__dropdown > ul {
            width: calc(
                (3 * var(--nav-dropdown-item-width)) +
                (4 * var(--nav-dropdown-desktop-inline-spacing))
            );
          }
        }

        &.nav__list--4-column {
          & > ul, > .nav__list-parent__dropdown > ul {
            width: calc(
                (4 * var(--nav-dropdown-item-width)) +
                (5 * var(--nav-dropdown-desktop-inline-spacing))
            );
          }
        }
      }

      & .nav__separator {
        margin-inline: 0 auto;
        border: 0;
        border-top: 1px solid var(--nav-line-separator-color);
        display: block;
        margin-block: var(--udexSpacer12);
        width: 50%;
      }

      & .nav__tab-list > .default-content-wrapper {
        display: inline-flex;
        height: 100%;

        & > ul {
            align-items: center;
            display: inline-flex;
            gap: var(--nav-tab-list-spacing);

            & > li > :is(a, .text):hover {
              color: var(--udexColorBlue7);
              text-decoration: none;
            }
          }
      }

      & .nav__list-parent:has(.nav__list-parent[aria-expanded='true']) {
        & > .text {
          display: unset;
        }
      }

      & .nav__tab-list ul:has(.nav__list-parent[aria-expanded='true']) {
        & > li:not(.nav__list-parent[aria-expanded='true']) {
          display: flex;
        }
      }

      & .nav__list-parent ul:has(.nav__list-parent[aria-expanded='true']) {
        & > li:not(.nav__list-parent[aria-expanded='true']) {
          display: list-item;
        }
      }
    }
  }
}