/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */

header {
  & #nav-secondary {
    --nav-dropdown-desktop-inline-spacing: var(--udexSpacer16);
    --nav-dropdown-desktop-block-spacing: var(--udexSpacer16);
    --nav-list-item-padding: var(--udexSpacer16) 0;

    align-items: center;
    background: var(--sapNeutralBackground);
    display: flex;
    height: var(--nav-secondary-height);
    position: relative;
    text-wrap: nowrap;
    z-index: 99;

    &, li a {
      color: var(--udexColorGrey9);
    }

    &.nav-secondary--fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }

    & .nav-secondary-actions {
      border-top: 1px solid var(--nav-line-separator-color);
      display: inline-flex;
      flex-direction: column;
      gap: var(--udexSpacer16);
      padding-block-start: var(--udexSpacer24);
    }

    & .nav-secondary__dropdown {
      background: var(--sapNeutralBackground);
      box-shadow: var(--nav-box-shadow-l);
      display: flex;
      flex-direction: column;
      left: 0;
      padding: var(--udexSpacer16) var(--nav-header-margin);
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 100%;
      transform: translateY(-15px);
      transition: opacity 0.3s ease-out, transform 0.3s ease-out;
      width: 100%;
      max-width: 100%;
      visibility: hidden;
      z-index: 0;
    }

    & .nav-secondary__dropdown-trigger {
      align-items: center;
      background: var(--sapNeutralBackground);
      box-shadow: var(--nav-box-shadow-s);
      border: none;
      cursor: pointer;
      display: inline-flex;
      flex-basis: 100%;
      font-family: unset;
      height: 100%;
      justify-content: space-between;
      max-width: 100%;
      padding-inline: var(--nav-header-margin);
      text-align: start;
      z-index: 1;

      --nav-secondary-dropdown-icon-size: 22px;
      --nav-secondary-dropdown-icon-margin: var(--udexSpacer12);

      &::after {
        background-color: currentcolor;
        box-sizing: border-box;
        content: "";
        display: inline-block;
        height: var(--nav-secondary-dropdown-icon-size);
        margin-inline-start: var(--nav-secondary-dropdown-icon-margin);
        mask: url("/aemedge/icons/slim-arrow-right.svg") center / var(--nav-secondary-dropdown-icon-size) var(--nav-secondary-dropdown-icon-size) no-repeat;
        transform: rotate(90deg);
        transition: transform .3s ease;
        width: var(--nav-secondary-dropdown-icon-size);
      }
    }

    & .nav-secondary__dropdown-trigger__content {
      display: inline-flex;
      flex-direction: column;
      gap: 7px;

      /* Setting width to truncate long page or tab title */
      width: calc(100% - var(--nav-secondary-dropdown-icon-size) - var(--nav-secondary-dropdown-icon-margin));
    }

    & .nav-secondary__dropdown-trigger__tab-label {
      font-size: var(--udexTypographyNavigationRegularMFontSize);
      font-weight: var(--udexTypographyFontWeightRegular);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & .nav-secondary__dropdown-trigger__title,
    & .nav-secondary-title {
      font-size: var(--udexTypographyNavigationMediumXLFontSize);
      font-weight: var(--udexTypographyFontWeightMedium);
      line-height: var(--udexTypographyNavigationLineHeight);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    & .nav-secondary-title {
      display: none;
    }

    &[aria-expanded='true'] {
      & .nav-secondary__dropdown-trigger::after {
        transform: rotate(-90deg);
      }

      & .nav-secondary__dropdown {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
        visibility: visible;
      }
    }

    @media (width >= 980px) {
      & {
        --nav-tab-list-spacing: var(--udexSpacer20);

        border-bottom: 1px solid var(--nav-line-separator-color);
        cursor: auto;
        height: var(--nav-primary-height);
        padding-inline: var(--nav-header-margin);
      }

      /* Snippet should match header.css at 1280px */
      & .nav__list-parent__dropdown {
        flex-direction: column;
        gap: var(--udexSpacer32);

        & .nav__list-parent__dropdown__heading {
          display: block;
          font-size: var(--udexTypographyHeadingMediumMFontSize);
          font-weight: var(--udexTypographyFontWeightMedium);
          line-height: var(--udexTypographyHeadingLineHeight);
          text-align: center;
        }
      }

      & .nav__list-parent {
        & .text {
          align-items: center;
          justify-content: space-between;
        }

        & ul {
          border-block-start: 1px solid var(--nav-line-separator-color);
          display: flex;
          flex-direction: column;
          flex-grow: 0;
          flex-shrink: 0;
          gap: var(--udexSpacer4) 0;
        }

        & li {
          width: var(--nav-dropdown-item-width);
        }

        &[aria-expanded='true'] {
          flex-direction: unset;

          & > ul, & > .nav__list-parent__dropdown {
            display: flex;
            opacity: 1;
            pointer-events: unset;
            transform: translateY(0);
          }

          & .text {
            flex-direction: unset;

            &::after {
              position: unset;
              left: unset;
            }
          }
        }
      }

      & .nav__tab {
        height: 100%;
        justify-content: flex-start;

        & > ul {
          left: calc(-1 * var(--nav-dropdown-desktop-inline-spacing));
        }

        & > .text {
          color: var(--udexColorGrey9);
        }

        & > .text::after {
          transform: rotate(90deg);
          height: var(--udexSpacer16);
          width: var(--udexSpacer16);
        }

        & .nav__list-parent {
          flex-direction: column;

          & ul {
            padding-block-start: var(--udexSpacer12);
            margin: 0;
          }

          & .text {
            font-size: var(--udexTypographyNavigationMediumMFontSize);
            font-weight: var(--udexTypographyFontWeightMedium);
            padding-block-end: var(--udexSpacer12);
            pointer-events: none;

            &::after {
              display: none;
            }
          }
        }

        &[aria-expanded="true"] {
          & > .text {
            font-weight: unset;
            color: var(--udexColorBlue9);

            &::after {
              transform: rotate(-90deg);
            }
          }

          &::before {
            background: var(--nav-active-marker-color);
            border-top-left-radius: var(--nav-active-tab-underline-radius);
            border-top-right-radius: var(--nav-active-tab-underline-radius);
            bottom: 0;
            content: '';
            display: block;
            height: var(--nav-active-tab-underline-height);
            position: absolute;
            width: 100%;
          }
        }

        & > ul, & > .nav__list-parent__dropdown {
          background: var(--udexColorNeutralWhite);
          box-shadow: var(--nav-box-shadow-l);
          opacity: 0;
          padding: var(--nav-dropdown-desktop-block-spacing) var(--nav-dropdown-desktop-inline-spacing) var(--nav-dropdown-desktop-inline-spacing);
          pointer-events: none;
          position: absolute;
          transition: opacity 0.3s ease-out, transform 0.3s ease-out;
          top: 100%;
          transform: translateY(-15px);
          width: max-content;
        }

        & > ul, & > .nav__list-parent__dropdown > ul {
          border-block-start: none;
        }

        &.nav__list--2-column, &.nav__list--3-column, &.nav__list--4-column {
          & > ul, > .nav__list-parent__dropdown > ul {
            flex-flow: row wrap;
            gap: var(--nav-dropdown-desktop-block-spacing) var(--nav-dropdown-desktop-inline-spacing);
          }
        }

        &.nav__list--3-column {
          & > ul, > .nav__list-parent__dropdown > ul {
            width: calc(
                (3 * var(--nav-dropdown-item-width)) +
                (4 * var(--nav-dropdown-desktop-inline-spacing))
            );
          }
        }

        &.nav__list--4-column {
          & > ul, > .nav__list-parent__dropdown > ul {
            width: calc(
                (4 * var(--nav-dropdown-item-width)) +
                (5 * var(--nav-dropdown-desktop-inline-spacing))
            );
          }
        }
      }

      & .nav__separator {
        margin-inline: 0 auto;
        border: 0;
        border-top: 1px solid var(--nav-line-separator-color);
        display: block;
        margin-block: var(--udexSpacer12);
        width: 50%;
      }

      & .nav__tab-list > .default-content-wrapper {
        display: inline-flex;
        height: 100%;

        & > ul {
          align-items: center;
          display: inline-flex;
          gap: var(--nav-tab-list-spacing);

          & > li > :is(a, .text):hover {
            color: var(--udexColorBlue7);
            text-decoration: none;
          }
        }
      }

      & .nav__list-parent:has(.nav__list-parent[aria-expanded='true']) {
        & > .text {
          display: unset;
        }
      }

      & .nav__tab-list ul:has(.nav__list-parent[aria-expanded='true']) {
        & > li:not(.nav__list-parent[aria-expanded='true']) {
          display: flex;
        }
      }

      & .nav__list-parent ul:has(.nav__list-parent[aria-expanded='true']) {
        & > li:not(.nav__list-parent[aria-expanded='true']) {
          display: list-item;
        }
      }

      /* Snippet end */

      & .nav-secondary-actions {
        border: none;
        flex-direction: row;
        padding: unset;
        gap: var(--udexSpacer16);

        & .button-container:not(:first-child) {
          display: none;
        }
      }

      & .nav-secondary__dropdown {
        align-items: center;
        background: unset;
        box-shadow: unset;
        flex-basis: 100%;
        flex-direction: unset;
        justify-content: space-between;
        height: 100%;
        opacity: 1;
        padding: unset;
        padding-inline-start: var(--udexSpacer20);
        pointer-events: auto;
        position: unset;
        transform: translateY(0);
        transition: none;
        visibility: visible;
        width: unset;
      }

      & .nav-secondary__dropdown-trigger {
        display: none;
      }

      & .nav__list-parent > ul {
        grid-template-columns: auto;
        gap: 0;
        max-width: 360px;
        min-width: 240px;

        & li {
          margin: 0;
        }

        & li :is(a, .text) {
          width: unset;
        }
      }

      & .nav-secondary-tabs > .default-content-wrapper > ul > li {
        align-items: center;
        display: inline-flex;
        height: 100%;

        &[aria-current='page'] {
          position: relative;

          &::before {
            background: var(--nav-active-marker-color);
            border-top-left-radius: var(--nav-active-tab-underline-radius);
            border-top-right-radius: var(--nav-active-tab-underline-radius);
            bottom: 0;
            content: '';
            display: block;
            height: var(--nav-active-tab-underline-height);
            position: absolute;
            width: 100%;
          }
        }
      }

      & .nav-secondary-title {
        box-sizing: border-box;
        border-right: 1px solid var(--nav-line-separator-color);
        display: inline-block;
        flex-shrink: 0;
        padding-inline-end: var(--udexSpacer20);

        & > .default-content-wrapper {
          max-width: calc((2 * var(--udexGridGutters)) + (3 * var(--column-width)));

          & p {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-wrap: pretty;
          }
        }
      }
    }
  }
}