.link-group-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.link-group-wrapper {
  width: 100%;
}

.link-group-container > div {
  margin: 0;
}

.block.link-group ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-inline: var(--udexSpacer16);
  width: 100%;
}

.block.link-group ul li {
  font-size: var(--udexTypographyBodyXSFontSize);
  line-height: var(--udexTypographyBodyLineHeight);
  padding-block: var(--udexSpacer8);
  margin-block: var(--udexSpacer8);

  & a {
    color: var(--udexColorGrey8);
    display: inline-block;
    width: 100%;

    &:not(:hover) {
      text-decoration: none;
    }
  }
}

.block.link-group .icon-slim-arrow-right {
  cursor: pointer;
  display: inline-flex;
  height: auto;
  margin-inline-end: var(--udexSpacer12);
  padding: var(--udexSpacer12);
  width: min-content;

  & img {
    filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
    height: 18px;
    width: 18px;
  }

  &:hover {
    & img {
      filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
    }
  }

  &:active {
    & img {
      filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
    }
  }
}

.block.link-group.active ul {
  display: block;
}

.block.link-group.active .icon-slim-arrow-right {
  transform: rotate(90deg);
  transition: transform .3s ease;
}

.block.link-group strong {
  padding-block: var(--udexSpacer12);
  font-size: var(--udexTypographyHeadingRegularXXXXSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

.block.link-group > div > div {
  & p {
    align-items: center;
    display: flex;
    margin: 0;
    padding-block: var(--udexSpacer4);
    padding-inline: var(--udexSpacer8) var(--udexSpacer12);
  }
}

.block.link-group > div:first-of-type {
  width: 100%;
  border-bottom: 0.5px var(--udexColorGrey4) solid;
}

/* M */
@media (width >= 980px) {
  .link-group-container {
    flex-direction: row;
    gap: var(--udexGridGutters)
  }

  .block.link-group ul {
    display: block;
    padding: 0;
  }

  .block.link-group ul li {
    margin: 0;
  }

  .block.link-group .icon-slim-arrow-right {
    display: none;
  }

  .block.link-group strong {
    font-size: var(--udexTypographyNavigationMediumXLFontSize);
    font-weight: var(--udexTypographyFontWeightMedium);
    padding: 0;
  }

  .block.link-group > div > div p {
    padding: 0;
  }

  .block.link-group > div:first-of-type {
    border-bottom: none;
    padding: 0;
    margin-block-end: var(--udexSpacer20);
  }

  .block.link-group > div:first-of-type > div {
    padding: 0;
  }

  .link-group-wrapper {
    border-bottom: none;
  }
}
