.block.footer {
  background: var(--udexCoreSurfaceHigher);
  display: flex;
  padding-block: var(--udexSpacer40);
  padding-inline: var(--udexGridMargins);

  & > div {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }

  & .contact-container {
    flex: 1;
  }

  & .link-group-container,
  & .contact-container {
    margin-block-end: var(--udexSpacer32);
  }

  & .social-profile-container {
    margin-block-end: var(--udexSpacer40);
  }

  & .link-group-container {
    flex: 2;
  }

  & .icon-back-to-top {
    border-color: transparent;
    border-radius: 0.5rem;
    border-width: 0.0625rem;
    border-style: solid;
    cursor: pointer;
    display: inline-flex;
    height: auto;
    padding: var(--udexSpacer12);
    width: min-content;

    & img {
      filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
      height: 18px;
      width: 18px;
    }

    &:hover {
      background-color: var(--udexColorGrey2);
      border-color: var(--udexColorGrey7);

      & img {
        filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
      }
    }

    &:active {
      background-color: var(--udexColorNeutralWhite);
      border-color: var(--udexColorBlue9);

      & img {
        filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
      }
    }
  }
}

/* M */
@media (width >= 980px) {
  .block.footer {
    & > div {
      gap: 0;
    }

    & .section {
      margin-block: 0;
    }

    & .contact-container,
    & .link-group-container {
      padding-block-end: 22px;
      border-bottom: 1px solid var(--udexCoreDividerLight);
    }

    & .social-profile-container,
    & .link-group-container {
      padding-block-start: 22px;
    }

    & .icon-back-to-top {
      position: absolute;
      right: calc(var(--udexSpacer16) - var(--udexGridMargins));
    }
  }
}

/* L */
@media (width >= 1280px) {
  .block.footer {
    padding-block: var(--udexSpacer72);

    & > div {
      display: grid;
      gap: var(--udexSpacer32) var(--udexGridGutters);
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    & .section {
      border-bottom: none;
      margin: 0;
      padding: 0;
    }

    & .contact-container {
      grid-column: 1 / 5;
    }

    & .link-group-container {
      grid-column: 5 / -1;
    }

    & .social-profile-container {
      grid-column: 1 / -1;
      margin: 0;
      padding: 0;
    }

    & .icon-back-to-top {
      top: calc(var(--udexSpacer48) - var(--udexSpacer72));
    }
  }
}
