/*
 * SAP root styles using theme design tokens (see themes/sap_glow/css_variables.css)
 * Currently implements three breakpoints:
 * - min:0px (mobile first, default)
 * - min:640px (--udexGridSMinWidth)
 * - min:980px (--udexGridMMinWidth)
 * - min:1600px (--udexGridXLMinWidth)
 * Heading/Medium: per-element
 * Heading/Regular: default
 */

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.external .internal-only,
.external [data-visibility="internal_only"] {
  display: none;
}

.internal .external-only,
.internal [data-visibility="external_only"] {
  display: none;
}

/* Fall back to Arial for 72 Brand Variable
 Added to styles.css for early loading */

@font-face {
  font-family: '72 Brand Variable Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 98%;
  descent-override: 22.94%;
  line-gap-override: 3.54%;
  size-adjust: 92.37%;
}

@font-face {
  font-family: '72 Brand Variable Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 90.58%;
  descent-override: 21.2%;
  line-gap-override: 3.27%;
  size-adjust: 99.94%;
}

@font-face {
  font-family: '72 Brand Variable Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 90.58%;
  descent-override: 21.2%;
  line-gap-override: 3.27%;
  size-adjust: 99.94%;
}

:root, :host {
  --background-color: var(--udexColorNeutralWhite);
  --card-tile-height: 360px;
  --column-width: calc((var(--grid-width) - (11 * var(--udexGridGutters))) / 12);
  --grid-width: calc(100vw - 2 * var(--udexGridMargins));
  --hero-margin--left: var(--udexGridMargins);
  --hero-margin--right: var(--udexGridMargins);
  --udexGridGutters: var(--udexGridXSGutters);
  --udexGridMargins: var(--udexGridXSMargins);
  --sapFontFamily: '72 Brand Variable', '72 Brand Variable Fallback', 'Arial',
    'Helvetica', 'sans-serif';
  --text-color: var(--sapShell_TextColor);
}

/* S */
@media (width >=640px) {
  :root, :host {
    --udexGridGutters: var(--udexGridSGutters);
    --udexGridMargins: var(--udexGridSMargins);
  }
}

/* M */
@media (width >=980px) {
  :root, :host {
    --udexGridGutters: var(--udexGridMGutters);
    --udexGridMargins: var(--udexGridMMargins);
  }
}

/* L */
@media (width >=1280px) {
  :root, :host {
    --udexGridGutters: var(--udexGridLGutters);
    --udexGridMargins: var(--udexGridLMargins);
  }
}

/* XL */
@media (width >=1600px) {
  :root, :host {
    --udexGridGutters: var(--udexGridXLGutters);
    --udexGridMargins: var(--udexGridXLMargins);
    --hero-margin--left: 246px;
    --hero-margin--right: 246px;
  }
}

body {
  --nav-primary-height: 60px;
  --nav-secondary-height-small-screens: 64px;
  --nav-secondary-height-large-screens: 60px;
  --nav-secondary-height: var(--nav-secondary-height-small-screens);
  --nav-height: var(--nav-primary-height);
  --section-spacing-vertical: var(--udexSpacer40);

  font-family: var(--sapFontFamily);
  font-size: var(--udexTypographyBodySFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyBodyLineHeight);
  margin: 0;
  padding-left: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;

  &:has(dialog[open]) {
    overflow: hidden;
  }

  &:has(#nav-secondary) {
    --nav-height: calc(var(--nav-primary-height) + var(--nav-secondary-height));
  }

  @media (width >= 980px) {
    --nav-secondary-height: var(--nav-secondary-height-large-screens);
    --section-spacing-vertical: var(--udexSpacer48);
  }

  @media (width >= 1280px) {
    --section-spacing-vertical: var(--udexSpacer56);
  }
}

@media (width < 980px) {
  body {
    overflow-x: hidden;
  }
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: var(--udexTypographyHeadingRegularMFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

h2 {
  font-size: var(--udexTypographyHeadingRegularSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

/* missing design, assumption */
h3 {
  font-size: var(--udexTypographyHeadingRegularXSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

/* missing styles, assumption */
h4,
h5,
h6 {
  font-size: var(--udexTypographyHeadingRegularXXSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

/* missing styles, assumption */
p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

:is(h2, h3) + p {
  margin-block: 0 40px;
}

:is(h2, h3):not(:has(+ p)) {
  margin-block-end: 40px;
}

/* missing styles, assumption */
code {
  padding: 0.125em;
}

/* missing styles, assumption */
pre {
  overflow: scroll;
}

/* missing styles, assumption */
main pre {
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

[aria-hidden="true"] {
  display: none;
}

main .section.transpose-columns {
  &.column-section-1-1 {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
  }
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

.design-system main .image-border img {
  border: 1px solid #e7e7e7;
}

a {
  color: var(--udexColorBlue7);
  cursor: pointer;

  &:visited {
    color: var(--udexColorBlue10);
  }

  &:hover,
  &:focus {
    color: var(--udexColorBlue9);
    text-decoration: underline;
  }

  &:active {
    color: var(--udexColorBlue11);
    text-decoration: underline;
  }
}

.subtitle {
  & a {
    font-size: var(--udexTypographyBodyXSFontSize);
    font-weight: var(--udexTypographyFontWeightMedium);
    line-height: var(--udexTypographyDisplayLineHeight);
    color: var(--udexColorNeutralBlack) !important;
  }
}

.info {
  font-size: var(--udexTypographyNavigationRegularXSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyDisplayLineHeight);
  color: var(--udexColorGrey6);
}

.button-container {
  margin: 0;
  padding: 0;

  & strong,
  & em {
    display: contents;
  }

  & .button {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-border-width: 0px;
    --button-font-size: var(--udexTypographyBodySFontSize);
    --button-icon-size: var(--udexTypographyBodySFontSize);
    --button-font-weight: var(--udexTypographyFontWeightRegular);
    --button-line-height: var(--udexTypographyBodyLineHeight);
    --button-block-padding: 0px;
    --button-inline-padding: 0px;

    align-items: center;
    background-color: var(--button-background-color);
    border-color: var(--button-border-color);
    border-radius: 0.5rem;
    border-width: var(--button-border-width);
    border-style: solid;
    cursor: pointer;
    display: inline-flex;
    flex-wrap: nowrap;
    font-family: var(--sapFontFamily);
    font-size: var(--button-font-size);
    font-style: normal;
    font-weight: var(--button-font-weight);
    line-height: var(--button-line-height);
    padding: var(--button-block-padding);
    padding-inline: var(--button-inline-padding);
    text-decoration: none;

    &.primary {
      --button-background-color: var(--udexColorBlue7);
      --button-border-color: var(--udexColorBlue7);
      --button-border-width: 0.0625rem;
      --button-text-color: var(--udexColorNeutralWhite);
      --button-icon-color-filter: brightness(0) invert(1); /* white */

      &:hover {
        --button-background-color: var(--udexColorBlue9);
        --button-border-color: var(--udexColorBlue9);
        --button-text-color: var(--udexColorNeutralWhite);
        --button-icon-color-filter: brightness(0) invert(1); /* white */
      }

      &:active {
        --button-background-color: var(--udexColorNeutralWhite);
        --button-border-color: var(--udexColorBlue9);
        --button-text-color: var(--udexColorBlue9);
        --button-icon-color-filter: brightness(0) saturate(100%) invert(16%)
        sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%)
        contrast(107%); /* blue 9 */
      }

      &:disabled {
        --button-background-color: var(--udexColorBlue7);
        --button-border-color: var(--udexColorBlue7);
        --button-text-color: var(--udexColorNeutralWhite);
        --button-icon-color-filter: brightness(0) invert(1); /* white */

        opacity: var(--sapContent_DisabledOpacity);
        cursor: not-allowed;
      }
    }

    &.secondary {
      --button-background-color: var(--udexColorNeutralWhite);
      --button-border-color: var(--udexColorGrey7);
      --button-border-width: 0.0625rem;
      --button-text-color: var(--udexColorBlue9);
      --button-icon-color-filter: brightness(0) saturate(100%) invert(16%)
      sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%)
      contrast(107%); /* blue 9 */

      &:hover {
        --button-background-color: var(--udexColorGrey2);
        --button-border-color: var(--udexColorGrey7);
        --button-text-color: var(--udexColorBlue9);
        --button-icon-color-filter: brightness(0) saturate(100%) invert(16%)
        sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%)
        contrast(107%); /* blue 9 */
      }

      &:active {
        --button-background-color: var(--udexColorNeutralWhite);
        --button-border-color: var(--udexColorBlue9);
        --button-text-color: var(--udexColorBlue9);
        --button-icon-color-filter: brightness(0) saturate(100%) invert(16%)
        sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%)
        contrast(107%); /* blue 9 */
      }

      &:disabled {
        --button-background-color: var(--udexColorNeutralWhite);
        --button-border-color: var(--udexColorGrey7);
        --button-text-color: var(--udexColorBlue9);
        --button-icon-color-filter: brightness(0) saturate(100%) invert(16%)
        sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%)
        contrast(107%); /* blue 9 */

        opacity: var(--sapContent_DisabledOpacity);
        cursor: not-allowed;
      }
    }

    &.tertiary {
      --button-background-color: transparent;
      --button-border-color: transparent;
      --button-border-width: 0.0625rem;
      --button-text-color: var(--udexColorBlue9);
      --button-icon-color-filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */

      &:hover {
        --button-background-color: var(--udexColorGrey2);
        --button-border-color: var(--udexColorGrey7);
        --button-text-color: var(--udexColorBlue9);
        --button-icon-color-filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
      }

      &:active {
        --button-background-color: var(--udexColorNeutralWhite);
        --button-border-color: var(--udexColorBlue9);
        --button-text-color: var(--udexColorBlue9);
        --button-icon-color-filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
      }

      &:disabled {
        --button-background-color: transparent;
        --button-border-color: transparent;
        --button-text-color: var(--udexColorBlue9);
        --button-icon-color-filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */

        opacity: var(--sapContent_DisabledOpacity);
        cursor: not-allowed;
      }
    }

    & .icon {
      &:not(:first-child) {
        margin-inline-start: var(--button-icon-spacing);
      }

      &:not(:last-child) {
        margin-inline-end: var(--button-icon-spacing);
      }

      & img {
        filter: var(--button-icon-color-filter);
        height: 100%;
        width: 100%;
      }
    }

    &:where(:is(.primary, .secondary, .tertiary)) {
      --button-font-weight: var(--udexTypographyFontWeightMedium);
      --button-line-height: var(--udexTypographyNavigationLineHeight);

      color: var(--button-text-color);
      text-wrap: nowrap;

      /* LARGE */
      --button-large-font-size: var(--udexTypographyNavigationMediumXLFontSize);
      --button-large-icon-spacing: var(--udexSpacer8);
      --button-large-icon-size: 18px;
      --button-large-inline-padding: 14px;
      --button-large-block-padding: var(--udexSpacer12);
      --button-large-icon-only-block-padding: var(--udexSpacer12);
      --button-large-icon-only-inline-padding: var(--udexSpacer12);

      /* MEDIUM */
      --button-medium-font-size: var(--udexTypographyNavigationMediumXLFontSize);
      --button-medium-inline-padding: 10px;
      --button-medium-block-padding: 9px;
      --button-medium-icon-size: 16px;
      --button-medium-icon-spacing: 6px;
      --button-medium-icon-only-block-padding: 10px;
      --button-medium-icon-only-inline-padding: 10px;

      /* SMALL */
      --button-small-font-size: var(--udexTypographyNavigationMediumMFontSize);
      --button-small-inline-padding: 10px;
      --button-small-block-padding: 5px;
      --button-small-icon-size: 14px;
      --button-small-icon-spacing: var(--udexSpacer4);
      --button-small-icon-only-block-padding: 5px;
      --button-small-icon-only-inline-padding: 5px;

      &.button-xs-large {
        --button-font-size: var(--button-large-font-size);
        --button-icon-spacing: var(--button-large-icon-spacing);
        --button-icon-size: var(--button-large-icon-size);
        --button-inline-padding: var(--button-large-inline-padding);
        --button-block-padding: var(--button-large-block-padding);

        &.icon-only {
          --button-block-padding: var(--button-large-icon-only-block-padding);
          --button-inline-padding: var(--button-large-icon-only-block-padding);
        }
      }

      &.button-xs-medium {
        --button-font-size: var(--button-medium-font-size);
        --button-inline-padding: var(--button-medium-inline-padding);
        --button-block-padding: var(--button-medium-block-padding);
        --button-icon-size: var(--button-medium-icon-size);
        --button-icon-spacing: var(--button-medium-icon-spacing);

        &.icon-only {
          --button-block-padding: var(--button-medium-icon-only-block-padding);
          --button-inline-padding: var(--button-medium-icon-only-block-padding);
        }
      }

      &.button-xs-small {
        --button-font-size: var(--button-small-font-size);
        --button-inline-padding: var(--button-small-inline-padding);
        --button-block-padding: var(--button-small-block-padding);
        --button-icon-size: var(--button-small-icon-size);
        --button-icon-spacing: var(--button-small-icon-spacing);

        &.icon-only {
          --button-block-padding: var(--button-small-icon-only-block-padding);
          --button-inline-padding: var(--button-small-icon-only-inline-padding);
        }
      }

      @media (width >= 640px) {
        &.button-s-large {
          --button-font-size: var(--button-large-font-size);
          --button-icon-spacing: var(--button-large-icon-spacing);
          --button-icon-size: var(--button-large-icon-size);
          --button-inline-padding: var(--button-large-inline-padding);
          --button-block-padding: var(--button-large-block-padding);

          &.icon-only {
            --button-block-padding: var(--button-large-icon-only-block-padding);
            --button-inline-padding: var(--button-large-icon-only-block-padding);
          }
        }

        &.button-s-medium {
          --button-font-size: var(--button-medium-font-size);
          --button-inline-padding: var(--button-medium-inline-padding);
          --button-block-padding: var(--button-medium-block-padding);
          --button-icon-size: var(--button-medium-icon-size);
          --button-icon-spacing: var(--button-medium-icon-spacing);

          &.icon-only {
            --button-block-padding: var(--button-medium-icon-only-block-padding);
            --button-inline-padding: var(--button-medium-icon-only-block-padding);
          }
        }

        &.button-s-small {
          --button-font-size: var(--button-small-font-size);
          --button-inline-padding: var(--button-small-inline-padding);
          --button-block-padding: var(--button-small-block-padding);
          --button-icon-size: var(--button-small-icon-size);
          --button-icon-spacing: var(--button-small-icon-spacing);

          &.icon-only {
            --button-block-padding: var(--button-small-icon-only-block-padding);
            --button-inline-padding: var(--button-small-icon-only-inline-padding);
          }
        }
      }

      @media (width >= 980px) {
        &.button-m-large {
          --button-font-size: var(--button-large-font-size);
          --button-icon-spacing: var(--button-large-icon-spacing);
          --button-icon-size: var(--button-large-icon-size);
          --button-inline-padding: var(--button-large-inline-padding);
          --button-block-padding: var(--button-large-block-padding);

          &.icon-only {
            --button-block-padding: var(--button-large-icon-only-block-padding);
            --button-inline-padding: var(--button-large-icon-only-block-padding);
          }
        }

        &.button-m-medium {
          --button-font-size: var(--button-medium-font-size);
          --button-inline-padding: var(--button-medium-inline-padding);
          --button-block-padding: var(--button-medium-block-padding);
          --button-icon-size: var(--button-medium-icon-size);
          --button-icon-spacing: var(--button-medium-icon-spacing);

          &.icon-only {
            --button-block-padding: var(--button-medium-icon-only-block-padding);
            --button-inline-padding: var(--button-medium-icon-only-block-padding);
          }
        }

        &.button-m-small {
          --button-font-size: var(--button-small-font-size);
          --button-inline-padding: var(--button-small-inline-padding);
          --button-block-padding: var(--button-small-block-padding);
          --button-icon-size: var(--button-small-icon-size);
          --button-icon-spacing: var(--button-small-icon-spacing);

          &.icon-only {
            --button-block-padding: var(--button-small-icon-only-block-padding);
            --button-inline-padding: var(--button-small-icon-only-inline-padding);
          }
        }
      }

      @media (width >= 1280px) {
        &.button-l-large {
          --button-font-size: var(--button-large-font-size);
          --button-icon-spacing: var(--button-large-icon-spacing);
          --button-icon-size: var(--button-large-icon-size);
          --button-inline-padding: var(--button-large-inline-padding);
          --button-block-padding: var(--button-large-block-padding);

          &.icon-only {
            --button-block-padding: var(--button-large-icon-only-block-padding);
            --button-inline-padding: var(--button-large-icon-only-block-padding);
          }
        }

        &.button-l-medium {
          --button-font-size: var(--button-medium-font-size);
          --button-inline-padding: var(--button-medium-inline-padding);
          --button-block-padding: var(--button-medium-block-padding);
          --button-icon-size: var(--button-medium-icon-size);
          --button-icon-spacing: var(--button-medium-icon-spacing);

          &.icon-only {
            --button-block-padding: var(--button-medium-icon-only-block-padding);
            --button-inline-padding: var(--button-medium-icon-only-block-padding);
          }
        }

        &.button-l-small {
          --button-font-size: var(--button-small-font-size);
          --button-inline-padding: var(--button-small-inline-padding);
          --button-block-padding: var(--button-small-block-padding);
          --button-icon-size: var(--button-small-icon-size);
          --button-icon-spacing: var(--button-small-icon-spacing);

          &.icon-only {
            --button-block-padding: var(--button-small-icon-only-block-padding);
            --button-inline-padding: var(--button-small-icon-only-inline-padding);
          }
        }
      }

      @media (width >= 1600px) {
        &.button-xl-large {
          --button-font-size: var(--button-large-font-size);
          --button-icon-spacing: var(--button-large-icon-spacing);
          --button-icon-size: var(--button-large-icon-size);
          --button-inline-padding: var(--button-large-inline-padding);
          --button-block-padding: var(--button-large-block-padding);

          &.icon-only {
            --button-block-padding: var(--button-large-icon-only-block-padding);
            --button-inline-padding: var(--button-large-icon-only-block-padding);
          }
        }

        &.button-xl-medium {
          --button-font-size: var(--button-medium-font-size);
          --button-inline-padding: var(--button-medium-inline-padding);
          --button-block-padding: var(--button-medium-block-padding);
          --button-icon-size: var(--button-medium-icon-size);
          --button-icon-spacing: var(--button-medium-icon-spacing);

          &.icon-only {
            --button-block-padding: var(--button-medium-icon-only-block-padding);
            --button-inline-padding: var(--button-medium-icon-only-block-padding);
          }
        }

        &.button-xl-small {
          --button-font-size: var(--button-small-font-size);
          --button-inline-padding: var(--button-small-inline-padding);
          --button-block-padding: var(--button-small-block-padding);
          --button-icon-size: var(--button-small-icon-size);
          --button-icon-spacing: var(--button-small-icon-spacing);

          &.icon-only {
            --button-block-padding: var(--button-small-icon-only-block-padding);
            --button-inline-padding: var(--button-small-icon-only-inline-padding);
          }
        }
      }
    }

    &:where(:not(.primary, .secondary, .tertiary)) {
      &:active,
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

body:not(.design-system) .button-container .button .icon {
  width: var(--button-icon-size);
  height: var(--button-icon-size);
}

body:not(.design-system) main .button-container .button:where(:not(.primary, .secondary, .tertiary))::after {
  box-sizing: border-box;
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-left: var(--udexSpacer4);

  /* Use mask in order to be able to adjust SVG colour */
  mask: url("/aemedge/icons/slim-arrow-right.svg") center no-repeat;
  background-color: currentcolor;
}

/**
 * Styles for embedding video content.
 */
.video-embed-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-embed-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  top: 0;
  left: 0;
}

.section {
  &.divider-top {
    padding-block-start: 0;

    &::before {
      content: '';
      background-color: var(--udexCoreDividerLight);
      display: block;
      height: 1px;
      margin-block: 2px calc(2px + var(--section-spacing-vertical));
    }
  }

  &.additional-reading {
    background-color: var(--udexColorGrey1);
    border-radius: var(--udexSpacer12);
    margin-block-end: var(--udexSpacer56);
    padding: var(--udexSpacer24) var(--udexSpacer20);

    :first-child {
      margin-block-start: 0;
    }

    :last-child {
      margin-block-end: 0;
    }
  }

  & .text {
    color: var(--udexColorNeutralBlack);
  }

  & .eyebrow {
    color: var(--udexColorGrey7);
  }

  &.background-dark {
    color: var(--udexColorNeutralWhite);

    & a:not(.primary, .secondary, .tertiary) {
      color: var(--udexColorNeutralWhite);

      &:visited {
        color: var(--udexColorBlue2);
      }

      &:hover {
        color: var(--udexColorBlue3);
      }

      &:active {
        color: var(--udexColorBlue5);
      }
    }

    .eyebrow {
      color: var(--udexColorGrey3);
    }

    & .button-container {
      & .button.primary {
        --button-background-color: var(--udexColorNeutralWhite);
        --button-border-color: var(--udexColorNeutralWhite);
        --button-border-width: 0.0625rem;
        --button-text-color: var(--udexColorBlue8);
        --button-icon-color-filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(7500%) hue-rotate(210deg) brightness(95%) contrast(100%);

        &:hover {
          --button-background-color: var(--udexColorGrey3);
          --button-border-color: var(--udexColorGrey3);
          --button-text-color: var(--udexColorBlue9);
          --button-icon-color-filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%); /* blue 9 */
        }

        &:active {
          --button-background-color: var(--udexColorGrey4);
          --button-border-color: var(--udexColorGrey4);
          --button-text-color: var(--udexColorBlue10);
          --button-icon-color-filter: brightness(0) saturate(100%) invert(11%) sepia(61%) saturate(4769%) hue-rotate(219deg) brightness(94%) contrast(103%);
        }

        &:disabled {
          --button-background-color: var(--udexColorNeutralWhite);
          --button-border-color: var(--udexColorNeutralWhite);
          --button-text-color: var(--udexColorBlue8);
          --button-icon-color-filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(7500%) hue-rotate(210deg) brightness(95%) contrast(100%);

          opacity: var(--sapContent_DisabledOpacity);
          cursor: not-allowed;
        }
      }

      & .button.secondary {
        --button-background-color: hsl(0deg 100% 100% / 0%);
        --button-border-color: var(--udexColorNeutralWhite);
        --button-text-color: var(--udexColorNeutralWhite);
        --button-icon-color-filter: brightness(0) invert(1); /* white */

        &:hover {
          --button-background-color: hsl(0deg 100% 100% / 20%);
          --button-border-color: var(--udexColorNeutralWhite);
          --button-text-color: var(--udexColorNeutralWhite);
          --button-icon-color-filter: brightness(0) invert(1); /* white */
        }

        &:active {
          --button-background-color: var(--udexColorGrey4);
          --button-border-color: var(--udexColorBlue10);
          --button-text-color: var(--udexColorBlue10);
          --button-icon-color-filter: brightness(0) saturate(100%) invert(11%) sepia(61%) saturate(4769%) hue-rotate(219deg) brightness(94%) contrast(103%);
        }

        &:disabled {
          --button-background-color: hsl(0deg 100% 100% / 0%);
          --button-border-color: var(--udexColorNeutralWhite);
          --button-text-color: var(--udexColorNeutralWhite);
          --button-icon-color-filter: brightness(0) invert(1); /* white */
        }
      }

      & .button.tertiary {
        --button-background-color: hsl(0deg 100% 100% / 0%);
        --button-border-color: transparent;
        --button-text-color: var(--udexColorNeutralWhite);
        --button-icon-color-filter: brightness(0) invert(1); /* white */

        &:hover {
          --button-background-color: hsl(0deg 100% 100% / 20%);
          --button-border-color: var(--udexColorNeutralWhite);
          --button-text-color: var(--udexColorNeutralWhite);
          --button-icon-color-filter: brightness(0) invert(1); /* white */
        }

        &:active {
          --button-background-color: var(--udexColorGrey4);
          --button-border-color: var(--udexColorBlue10);
          --button-text-color: var(--udexColorBlue10);
          --button-icon-color-filter: brightness(0) saturate(100%) invert(11%) sepia(61%) saturate(4769%) hue-rotate(219deg) brightness(94%) contrast(103%);
        }

        &:disabled {
          --button-background-color: hsl(0deg 100% 100% / 0%);
          --button-border-color: transparent;
          --button-text-color: var(--udexColorNeutralWhite);
          --button-icon-color-filter: brightness(0) invert(1); /* white */
        }
      }
    }
  }

  &.column-section {
    & > * {
      margin-block: var(--udexSpacer48) 0;
    }

    @media (width >= 1280px) {
      & {
        display: grid;
        grid-auto-flow: row dense;
        column-gap: var(--udexGridGutters);

        & > * {
          margin-block: 0;
        }

        &.column-section-1-1 {
          grid-template-columns: 1fr 1fr;
        }

        &.column-section-3-2 {
          grid-template-columns: 3fr 2fr;
        }

        &.column-section-2-3 {
          grid-template-columns: 2fr 3fr;
        }

        &.column-section-2-1 {
          grid-template-columns: 2fr 1fr;
        }

        &.column-section-1-2 {
          grid-template-columns: 1fr 2fr;
        }

        &.column-section-3-1 {
          grid-template-columns: 3fr 1fr;
        }

        &.column-section-1-3 {
          grid-template-columns: 1fr 3fr;
        }

        & .col-1-style-wrapper {
          grid-column: 1;
        }

        & .col-2-style-wrapper {
          grid-column: 2;
        }
      }

      & > :nth-child(even) {
        padding-top: unset;
      }
    }
  }
}

/* Embedded sections within blocks */
.fragment-container .section {
  padding-inline: 0;
  padding-block-end: 0;
}

.fragment-container .section:first-of-type {
  padding-top: 0;
}

.fragment-container .section:last-of-type {
  padding-bottom: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
body main .section {
  &.no-footprint {
    border-bottom: none;
    padding-block: 0 !important;

    & + .section {
      padding-block-start: 0;
    }
  }

  &:has(+ &.no-footprint) {
    border-bottom: none;
    padding-block-end: 0;
  }
}

.ta-consent {
  display: none;
}
