@import url("/aemedge/libs/avatar/avatar.css");

.profiles {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--udexSpacer32) var(--udexGridGutters);

    &>.plink {
        text-decoration: none;

        &:any-link,
        &:visited,
        &:hover,
        &:focus {
            color: inherit;
        }
    }

    @media (width >= 980px) {
        gap: var(--udexSpacer40) var(--udexGridGutters);
    }
}

@media (width >= 640px) {
    .profiles.col-s-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (width >= 980px) {
    .profiles.col-m-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .profiles.col-m-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

/* L and XL: use 3 per row, unless there are two elements */
@media (width >= 1280px) {
    .profiles.col-l-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .profiles.col-l-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .profiles.col-l-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    body.hub-l2:has(aside) {
        & .profiles {
            &.col-l-2 {
                grid-template-columns: repeat(9, minmax(0, 1fr));

                & > :nth-child(odd) {
                    grid-column: 1 / 5;
                }

                & > :nth-child(even) {
                    grid-column: 5 / 9;
                }
            }

            &.col-l-3 {
                grid-template-columns: repeat(3, minmax(0, 1fr));
            }
        }
    }
}

/* Use portrait view for S, M, L, XL if more than 1 */
@media (width >=640px) {
    :is(.profiles):not(.stacked) {
        & .profile.portrait {
        height: 360px;
        border: 1px solid var(--udexColorGrey2);
        box-shadow: 0 2px 4px rgb(34 54 73 / 20%);
        background-color: var(--background-color);
        border-radius: var(--sapTile_BorderCornerRadius);
        overflow: hidden;
        position: relative;

            &>div {
                border: none;
                box-shadow: none;
                background: linear-gradient(to bottom,
                        var(--udexColorBlue1) 0%,
                        var(--udexColorBlue1) 110px,
                        var(--udexColorNeutralWhite) 111px);
                flex-direction: column;
                align-items: center;
                padding-top: var(--udexSpacer32);
            }

            & p {
                text-align: center;
            }

            & h2 {
                text-align: center;
                font-size: var(--udexTypographyHeadingMediumXXSFontSize);
            }
        }

        & .plink .profile.portrait:hover {
            border: 1px solid var(--udexColorBlue6);
            box-shadow: var(--sapContent_Shadow1);
        }
    }
}

/* Use portrait view for XS in any page and for any number of cards */
@media (width < 640px) {
    .profiles .profile {
        height: 360px;
        border: 1px solid var(--udexColorGrey2);
        box-shadow: 0 2px 4px rgb(34 54 73 / 20%);
        background-color: var(--background-color);
        border-radius: var(--sapTile_BorderCornerRadius);
        overflow: hidden;
        position: relative;

        &>div {
            border: none;
            box-shadow: none;
            background: linear-gradient(to bottom,
                    var(--udexColorBlue1) 0%,
                    var(--udexColorBlue1) 110px,
                    var(--udexColorNeutralWhite) 111px);
            flex-direction: column;
            align-items: center;
            padding-top: var(--udexSpacer32);
        }

        & .avatar {
            flex: 0 0 7.5rem;
            width: 7.5rem;
            height: 7.5rem;

            & img {
                height: 7.5rem;
                width: 7.5rem;
            }
        }

         & .no-avatar {
            flex: 0 0 7.5rem;
            width: 7.5rem;
            height: 7.5rem;
        }

        & p {
            text-align: center;
        }

        & h2 {
            text-align: center;
            font-size: var(--udexTypographyHeadingMediumXXSFontSize);
        }
    }
}

.profiles-wrapper {
    margin-block: var(--udexSpacer32);

    &:first-child {
        margin-block-start: 0;
    }

    &:last-child {
        margin-block-end: 0;
    }

    @media (width >= 980px) {
        margin-block: var(--udexSpacer40);
    }
}