.reviews-container {
  display: grid;
  grid-column: 1 / -1 !important;
  margin-inline: calc(var(--udexGridMargins) * -1);
  padding-block-end: 84px !important;

  .default-content-wrapper {
    margin-inline: calc(var(--udexGridMargins));
    margin-bottom: 24px;
  }

  .reviews-wrapper {
    margin-inline: calc(var(--udexGridMargins));

    .reviews {
      & > ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
        padding: 0;

        & > li {
          background: var(--udexColorNeutralWhite);
          border-radius: var(--udexRadiusL);
          border: 1px solid var(--sapTile_BorderColor);
          box-shadow: 0 2px 4px #22364933;
          flex: 1;

          .review-cards-card-body {
            display: grid;
            gap: 24px;
            grid-template-rows: 100px min-content;
            height: 195px;
            padding: 24px 20px;

            p {
              font-size: 14px;
              line-height: 21px;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

/* =M */
@media (width >= 980px) {
  .reviews-container {
    .reviews-wrapper {
      .reviews {
        & > ul {
          flex-direction: row;
          gap: 48px;

          & > li {
            .review-cards-card-body {
              gap: 70px;
              height: 242px;
            }
          }
        }
      }
    }
  }
}

/* =L */
@media (width >= 1280px) {
  .reviews-container {
    .reviews-wrapper {
      .reviews {
        & > ul {
          & > li {
            .review-cards-card-body {
              gap: 24px;
              height: 195px;
            }
          }
        }
      }
    }
  }
}

/* =XL */
@media (width >= 1600px) {
  .reviews-container {
    grid-column: 1 / -1;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
    right: 50%;
    width: 100vw;

    & > div {
      margin-inline: auto !important;
      max-width: var(--udexGridXLMinWidth);
      padding: 0 var(--udexGridMargins);
      width: 100%;
    }
  }
}
