.reviews-container {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1 !important;
  margin-inline: calc(var(--udexGridMargins) * -1);
  padding-block-end: 84px !important;

  .default-content-wrapper {
    grid-column: 1 / -1;
    margin-inline: calc(var(--udexGridMargins));
    margin-bottom: 24px;

    @media(width >= 1600px) {
        margin-inline: unset;
        grid-column: 2 / 12;
    }
  }

  .reviews-wrapper {
    grid-column: 1 / -1;
    margin-inline: calc(var(--udexGridMargins));

    @media(width >= 1600px) {
        grid-column: 2 / 12;
        margin-inline: unset;
    }

    .reviews {
        & > ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            list-style-type: none;
            padding: 0;

            @media(width >= 980px) {
                flex-direction: row;
                gap: 48px;
            }

            & > li {
                border: 1px solid var(--sapTile_BorderColor);
                box-shadow: 0 2px 4px #22364933;
                border-radius: var(--udexRadiusL);
                background: var(--udexColorNeutralWhite);
                flex: 1;

                .review-cards-card-body {
                    height: 195px;
                    padding: 24px 20px;
                    display: grid;
                    grid-template-rows: 100px min-content;
                    gap: 24px;

                    @media(width >= 980px) {
                        height: 242px;
                        gap: 70px;
                    }

                    @media(width >= 1280px) {
                        height: 195px;
                        gap: 24px;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
            }
        }
    }
  }
}
